[2018-08-22 13:08] zbarry commented on #356
Actually, do you have a rough estimate of how much memory that `gnb=0` change saved? I wonder if `gnb=-1` used a metric ton of memory and now I have a lot more room to work in (to analyze longer movies). Also, would reducing the patch size help significantly? I'm working with 140x140 patches right now because memory (I thought wasn't) isn't a problem, and I believed this would cut down on potentia

[2018-08-22 15:07] pgunn commented on #357
Hi,
Don't worry about not knowing things - asking questions is how people learn. If you don't know Python, fortunately you don't need to learn it to expert level to use Caiman well, although it is a good idea to learn it up to the level of being able to script with it reasonably because it will help you understand how to work with the code.

The README should cover this, but download_demo should b

[2018-08-22 15:32] agustinaf opened #358 "Problem installing caimanmanager.py"
Hello everyone,

I'm new to python and CaImAn. I've encountered a problem while installing and need some help.

I'm using Windows 10 (64x) and python 3.6. I installed the anaconda package and followed the instructions in the readme.

When i get to this line of code: conda env create -f environment.yml -n caiman
The following message appears during "Executing transaction".

Executing transaction: \

[2018-08-22 16:53] agustinaf commented on #358
I didn't see any issues with that part or the rest of the block

[2018-08-22 17:16] agustinaf commented on #358
This is what it says after pip install .
(caiman) C:\Users\lab\CaImAn>pip install .
Processing c:\users\lab\caiman
Building wheels for collected packages: caiman
  Running setup.py bdist_wheel for caiman ... done
  Stored in directory: C:\Users\lab\AppData\Local\Temp\pip-ephem-wheel-cache-r_rf1ipn\wheels\4d\c3\c4\e2370c2802314341939e7cb0bfea49f3fa43c75db0b4f740a8
Successfully built caiman
Installi

[2018-08-22 17:36] pgunn commented on #358
Fascinating. So if you start a python interactive shell (type `python`) and from that type `import caiman`, what happens?

Is there any chance you closed the window you used to do the pip install and, in a second window (where you did not do a `conda activate caiman`) you tried to run caimanmanager? It's important with conda that any time you start a new shell and want to work with caiman, you act

[2018-08-22 17:56] agustinaf commented on #358
I think it imports it just fine:
(caiman) C:\Users\lab>python
Python 3.6.6 | packaged by conda-forge | (default, Jul 26 2018, 11:48:23) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Here is the whole thing done in the same anaconda prompt window:

(caiman) C:\Users\lab>git clone  https://github.com/flatironinstitute/CaImAn
fatal: desti

[2018-08-22 17:58] pgunn commented on #358
Does `python caimanmanager.py install` yield the same result?

[2018-08-22 21:03] agustinaf commented on #358
it gives a similar error:

(caiman) C:\Users\lab>python caimanmanager.py install --inplace
Traceback (most recent call last):
  File "caimanmanager.py", line 197, in <module>
    main()
  File "caimanmanager.py", line 165, in main
    do_install_to(cfg.userdir, cfg.inplace, cfg.force)
  File "caimanmanager.py", line 55, in do_install_to
    shutil.copytree(copydir, os.path.join(targdir, copydir))

[2018-08-22 21:13] pgunn commented on #358
That's actually a very different error.

The reason I asked you to do "python caimanmanager.py install" is that I believe you have in Windows' association editor an association of .py files with one of your existing python interpreter and so if you run a python program directly (by name), it's not finding the installed library, whereas if you say python from the commandline, you end up with Conda'

[2018-08-23 17:55] agustinaf commented on #358
IT WORKED!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! wow thank you so much for your time and explanation! Now i can start exploring CaImAn, looking forward to this! :D

[2018-08-23 18:09] pgunn commented on #358
One thing to look out for is that if you run the commandline demos (as opposed to the notebook ones), you'll always want to run them by explicitly saying "python demoname.py" rather than just "demoname.py"

Have fun!

[2018-08-23 20:34] j-friedrich commented on #356
I finally did some memory profiling on some long 128z128x40000 data generated by simply concatenating the demodata 40 times. Though one wouldn't do that in praxis, I used a large single patch that was nevertheless processed in parallel mode in order to reproduce the errors.

Get the same `OverflowError: cannot serialize a bytes object larger than 4 GiB` as you do with master and `gnb=-1`, another

[2018-08-23 21:04] pgunn commented on #356
@zbarry This is not necessarily a great long-term solution, but there's a variant on multiprocessing that uses a different data transfer scheme; if you'd like to try it and don't mind using something that we might not be able to support (just found it today), you can try this:

`conda install pathos`
and then modify caiman/cluster.py so where it says `import multiprocessing`, have it instead say `

[2018-08-23 21:11] agustinaf commented on #358
Good to know, thank you!

[2018-08-24 12:15] UCLAmini-user commented on #357
Thank you so much for your help!
This is the output from the terminal for ls ~/caiman_data:

<img width="501" alt="2018-08-24 9 07 55" src="https://user-images.githubusercontent.com/42601364/44583804-d05c7300-a7e1-11e8-83de-fa92d11729ea.png">

Yes, I was expecting download_demo to fetch a demo movie from the 'example_movies' folder. But the error message says "Exception: Cannot find the example_mo

[2018-08-24 14:49] UCLAmini-user commented on #357
I don't know how, but I got past this issue just now by re-installing everything. Thank you for all the trouble I really appreciate it! Thank you👍

[2018-08-24 14:49] #357 closed

[2018-08-24 14:54] UCLAmini-user opened #360 "ValueError: array must not contain infs or NaNs"
Hi, I'm using Jupyter notebook (Python 3.6) on mac OS X.

I didn't do any recording, so I ran the demo_pipeline on the given demo movie.
I ran into an error while running input [11]:

%%capture
#%% RUN CNMF ON PATCHES

#% First extract spatial and temporal components on patches and combine them
#% for this step deconvolution is turned off (p=0)
t1 = time.time()

cnm = cnmf.CNMF(n_processes=1, k=K,

[2018-08-24 15:12] zbarry commented on #356
@j-friedrich

Oh, that's great that it runs through with `gnb=0`. Our movies are max 36000 frames @ 20 Hz which are then downsampled anyway prior to the cnmf stage. I feel since I could always change my patch size down from my ridiculously big 140x140 patches too, I have a ton of wiggle room here re: running into memory issues.

@pgunn - thanks for the link. That looks like a really cool library (

[2018-08-24 20:53] zbarry opened #361 "Current multiprocessing configuration might not be appropriate for an HPC environment"
I'm running CaImAn on a cluster with a GridEngine scheduler using a little wrapper application I wrote. I was actually notified by one of the cluster admins that the way the job is using threads is suboptimal to the stability of all jobs on a node (and possibly computational efficiency). Apparently the cluster activity monitor flagged my jobs as overloading the nodes they were running on...

When

[2018-08-25 02:48] pgunn commented on #361
Hi,
According to the OpenCV docs:
https://docs.opencv.org/3.3.1/db/de0/group__core__utils.html#gae78625c3c2aa9e0b83ed31b73c6549c0

calling opencv.setNumThreads(0) will disable threading. If our code is somehow leading to more threads, it should not relate to the setNumTreads call.

[2018-08-25 03:00] zbarry commented on #361
Hmm, ok. Sorry, should have checked the docs! I was on my way out. I'll keep any eye out for it in the future.

[2018-08-25 03:02] pgunn commented on #361
No worries - if some builds of OpenCV are calling into OpenMP, and OpenMP has this behaviour, we may want to add your env var to the documentation as a good thing to set. So far I don't recall anyone else running into this ; do you mind doing a conda list and showing us what version of OpenCV you have? It'd be helpful in knowing whether others are likely to hit this issue.

[2018-08-25 03:07] zbarry commented on #361
Sure. Will do when I get back in.

[2018-08-25 05:43] corenlahav commented on #347
I solved the problems by working with the Matlab toolbox. Everything works
well there.

You can close this one.
Thanks for the help :)
Coren

On Fri, Aug 24, 2018, 19:22 Pat Gunn <notifications@github.com> wrote:

[2018-08-25 23:54] #347 closed

[2018-08-27 02:00] #360 closed

[2018-08-27 15:28] #256 closed

[2018-08-27 17:05] mschachter opened #362 "shape issue in update_spatial_components"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (2.7/3.x), and working environment (Spyder/Jupyter Notebook/other)**
OS: CENTOS 7
Python: 3.6 (anaconda 3)
Environment: caiman environment from environment.yml
Dataset: download here (67MB):
Branch: dev

https://drive.google.com/file/d/14RVBCdqf-DSUvvRX-3tGYOHjSiotyHkT/view?usp=sharing

- **Describe the issue that you ar

[2018-08-27 17:58] #356 closed

[2018-08-27 22:00] agiovann commented on #362
@j-friedrich I had a look and the problem seems to be that the update_spatial function receives empty b and f components from the one-photon initialization, which then leads to a failure. I have set up the example in my desktop if you want to check it. I am not sure whether I should fix the function update_spatial, if this is a problem of parameters, or if it should be fixed in the initialization

[2018-08-28 13:57] zbarry commented on #361
You know what... For some reason, when I created my conda environment on the cluster, I installed the PyPI version of OpenCV:

`opencv-python             3.4.1.15                  <pip>`

I'm guessing this version has the issue you're referring to here in `CLUSTER.md`:

Whoops... (my bad, x2)

Think that was it?

[2018-08-28 19:18] pgunn commented on #361
It's a jungle of confusion to wade through; no worries. Still, what you describe above sounds more like the root cause is that your OpenCV calls into OpenMP, rather than OpenCV itself doing anything objectionable. If you do a "conda install opencv" (you might need the "reinstall" flag instead, but try install first), it might get you a version without the OpenMP bindings.

[2018-08-28 21:32] j-friedrich commented on #362
Merely due to a wrong settings of parameters. `cnmf.params.patch['only_init']` has to be `True` for 1p data.

[2018-08-28 21:33] pgunn commented on #362
@j-friedrich It probably makes sense to have the function check for this and inform the user.

[2018-08-28 21:42] j-friedrich commented on #362
Yes, could maybe also set it automatically to True if center_psf is True, ring_size_factor is not None and method_init=='corr_pnr', which together specify 1p data.

[2018-08-28 22:57] mschachter commented on #362
Hi, setting only_patch_init fixes the immediate error, but there is a new error that pops up, based on the shape of either A or C.

Here is the code to reproduce the problem:

[code]

Here is the new error:

[code]

[2018-08-28 23:47] j-friedrich commented on #353
Nice catch of a failure if constrained_foopsi is run on a trace that is just constant. Fixed it in master and dev. You need to recompile oasis with `python setup.py build_ext -i`

[2018-08-28 23:47] #353 closed

[2018-08-29 01:07] j-friedrich commented on #362
Another parameter.
For 1p data `cnmf.params.init['center_psf'] ` is supposed to be `True`. We actually treat `center_psf` almost like a flag for whether the data is 1p or 2p, though one could use centering also for 2p and set `ring_size_factor` to `None`.
There's however indeed and error in line 447 of cnmf.py. Should read `if not (self.params.get('init', 'method_init') == 'corr_pnr' and self.para

[2018-08-29 19:04] mschachter commented on #362
Thanks @j-friedrich . I can confirm that there is a new error when I set center_psf to True.

It was not my intention to write such an exotic script :)   I was trying to follow your instructions to use the ring model with full background on 1P data, but definitely I realize that center_psf should have been set to True now.

[code]

[2018-08-29 21:38] j-friedrich commented on #362
Fixed the issue in branch issue362, so that both of your scripts run through, even the one with `only_init_patch=False`. The scenario would be to folllow up the standard pipeline, that's run within the initialization using the ring model, by few spatial and temporal updates while keeping the full-rank background fixed. Remains to see whether that slightly improves results.

[2018-08-29 22:03] mschachter commented on #362
Thanks again @j-friedrich! I can confirm that the issue362 branch fixes my issue with that patch, and does not seem to do anything weird to previously working patches. I can now continue on with my benchmarking of 1P CNMFe, I'll keep an eye out for when issue362 is merged with dev.

[2018-08-30 20:05] mschachter opened #363 "spike matrix S not returned for 1P data in patch mode"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (2.7/3.x), and working environment (Spyder/Jupyter Notebook/other)**
Operating System: CENTOS 7
Python Version: Anaconda 3.6
CaImAn Branch: dev
Environment: Typical caiman environment installed with conda env
Dataset: Available here (~50MB):
https://drive.google.com/file/d/1cRBTuawSqiMFZoHLMmYXkZLhcmkX2DKo/view?usp=shari

[2018-09-03 14:12] galenlynch opened #364 "Unable to install caimanmanger on Fedora 28"
As the title states, I am unable to install caimanager on fedora 28. I suspect it may have something to do with the fact that Fedora uses Wayland. Here is the error message that I receive:

[code]
I tried linking my system gi package into the environment, but I got a symbol error, suggesting that the libraries are incompatible.

I am now trying to install pygobjects from the conda-forge channel, b

[2018-09-03 19:28] galenlynch commented on #364
I also needed to install gtk3 to get this to work:
[code]

[2018-09-03 21:54] pgunn commented on #364
I am surprised that matplotlib requires gtk3 but doesn't have a dependency on it; that's probably a packaging bug. We'll need to poke the conda-forge devs about this. Thanks for letting us know.

You got it working?

[2018-09-04 11:43] galenlynch commented on #364
To use opencv I had to do the following:
[code]

Apparently the more recent versions of pip's opencv-python were built with support for video display on linux.

However, even though I don't get errors when I try to display the movie in the cnmf_e demo notebook, I just get a black screen that closes by itself after a minute or two.

[2018-09-04 12:17] agiovann commented on #364
Just as a quick check. Could you tell me the output of

np.sum(np.isnan(your_movie))

?

On Tue, Sep 4, 2018, 07:43 Galen Lynch <notifications@github.com> wrote:

[2018-09-04 14:03] zbarry commented on #361
Sorry for the delay in getting back to you!

Yeah, I think this is exactly it. Thanks for the suggestion! Pretty sure we can close this, and I'll let you know if anything weird crops up in the future with even the Anaconda version of OpenCV.

[2018-09-04 14:10] #361 closed

[2018-09-04 15:01] galenlynch commented on #364
I'm just trying to run the demo notebook for cnmf_e. Both the `Y` variable and the movie created from it seem to have no `nan`s. The rest of the pipeline works, the movie just doesn't display.

[code]

[2018-09-04 15:16] j-friedrich commented on #363
added in dev

[2018-09-04 15:16] #363 closed

[2018-09-04 17:08] galenlynch commented on #364
Just tried it on another ubuntu computer. Installation was painless, but the video was still black.

[2018-09-04 18:02] epnev commented on #364
@galenlynch it might be your movie is too negative. Can you subtract its minimum value before trying to play it?

[2018-09-04 18:38] epnev commented on #354
@zbarry Hard to say. In general a nan value can propagate all the way to the summary statistics and appear in them. It's best to avoid them by using either 'False' or 'copy', which will be the default method. Does 'copy' solve the problem?

[2018-09-04 19:08] epnev commented on #352
@mschachter Good catch. What's probably happening here is that the noise is calculated without removing the background, which in 1p data might lead to over-estimation. I'm fine with this idea.
@j-friedrich @agiovann thoughts?

[2018-09-04 20:09] epnev commented on #362
@mschachter Is this related to the discussion you had with @j-friedrich in slack? (Just returned from vacation and I'm trying to catch up)

[2018-09-04 21:55] galenlynch commented on #364
Sure, I'm just following the example notebook with the included example data. From what I can tell the notebook already subtracts the minimum from the first 100 frames. If I change it to subtract the minimum across the entire video, I still see a black video.

For what it's worth I got it to show a video with my own data, so it might be some problem with the example?

[2018-09-05 17:05] mschachter commented on #362
He definitely made changes to the code that works with the variable background_ff, so I think it is related.

[2018-09-05 17:06] mschachter commented on #352
Also @epnev I want to note that these movies are already spatial bandpass filtered and mean-subtracted, so their average intensity should be constant over time.

[2018-09-05 17:58] epnev commented on #352
@mschachter I see. I'll take a look at the dataset see if I can get any insights. Thanks

[2018-09-05 23:13] mschachter opened #366 "shape error in Estimates.normalize in 1P mode"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (2.7/3.x), and working environment (Spyder/Jupyter Notebook/other)**
Operating System: CENTOS 7
Python Version: Anaconda 3.6
CaImAn Branch: dev
Environment: Typical caiman environment installed with conda env
Dataset: Available here (~50MB):
https://drive.google.com/file/d/1cRBTuawSqiMFZoHLMmYXkZLhcmkX2DKo/view?usp=shari

[2018-09-06 15:31] epnev commented on #362
@mschachter I believe this has been fixed on dev with 709fe653c65298ff81549a4e5268a8979d8b5b9c so close if that's the case.

[2018-09-06 15:55] epnev commented on #366
I added an if command to avoid the error but I have no idea why the `b` has different shapes depending on tsub. @j-friedrich take a look.

[2018-09-06 15:55] j-friedrich commented on #362
Yes, fixed in dev. Not in master, but fine with closing.

[2018-09-06 15:55] #362 closed

[2018-09-06 15:59] epnev commented on #364
Could be. Can you set `q_max=99` and `gain=1` and try again?

[2018-09-06 16:53] mschachter commented on #366
I can confirm that the latest dev branch fixes the issue, when ssub == 1, tsub == 1, and ssub_B == 2. Thanks!!

[2018-09-06 19:20] j-friedrich commented on #366
Fixed, so that `b` has the proper shape in both cases for `tsub`.

[2018-09-06 19:20] #366 closed

[2018-09-06 21:04] j-friedrich commented on #352
If `normalize_yyt_one is True`(is it always True?) `C` and `A_in` get renormalized in lines 184+, whereas the noise `sn` is not rescaled, so this issue should actually affect 2p data as well.

[2018-09-07 12:46] epnev commented on #352
@j-friedrich Not sure, because `sn` depends on the data `Y` which seems to be unchanged regardless of the unintuitive parameter name. However I have concerns about the formula
[code]
If you reduce the value of `C` then the `lambda_lasso` factor would be reduced where in practice you actually want to do the opposite since `A` has been increased and you need a stronger penalty to achieve the same le

[2018-09-07 14:41] j-friedrich commented on #352
You're right, it's noise per pixel. It does however not get rescaled if `normalize_init=True`, a setting I never used for 1p, not sure whether one would want to.
The formula seems indeed wrong, looks as if `alpha` should be independent of the scale of `c`. If I keep the same `alpha` and `y` in LassoLars, but scale `c` by some factor `f` the result is scaled by `1/f` as it should.

[2018-09-08 01:05] ronnyb29 opened #367 "Segmentation fault (core dumped) on `caimanmanager.py` install"
For better support, please use the template below to submit your issue.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https://github.com/flatironinstitute/CaImAn/wiki/Updating-CaImAn).

[2018-09-09 04:58] pgunn commented on #367
Hi,
Are you using python from conda, or some other python? If you do "strace python caimanmanager.py install", you'll get a full (and very noisy) trace of what went on, and somewhere in the last few lines hopefully there'd be a hint as to the problem.

[2018-09-09 05:11] pgunn commented on #367
To give a little more context, that import will import a fair amount of the rest of the codebase, including some of the things caiman depends on. My intuition is that one of those libraries, maybe Keras or one of the maths libraries, is segfaulting during initialisation. We'll want to figure out why.

[2018-09-10 14:11] agiovann commented on #364
@galenlynch if not solved yet, I wonder if this could be a jupyter related problem. Have you by any chance tried with ipython/spyder?

[2018-09-10 14:12] agiovann commented on #354
@zbarry is this solved?

[2018-09-10 14:14] agiovann commented on #348
@lumin223 do you have any update on this issue? Could you close if solved?

[2018-09-10 15:00] lumin223 commented on #348
@agiovann Hi, thanks for the checking. We need to try out with a high power computer. We will update here for the share

[2018-09-10 16:11] epnev commented on #352
@j-friedrich Does the script run for you with the current state of dev? I'm getting stuck in the deconvolution

[2018-09-10 16:44] j-friedrich commented on #352
`LassoLars` also has a setting `normalize` that actually defaults to `True`. If we set it to `False` the current formula should be fine, i.e. scaling `c` by some factor `f` the result `a` is scaled by `1/f`.

Tested on some random simulated data:

`In [5]: f = 20`
`In [6]: np.allclose(f*LassoLars(alpha=.01*f, normalize=False).fit(f*c.T, y).coef_ , LassoLars(alpha=.01, normalize=False).fit(c.T, y).

[2018-09-10 17:32] mschachter commented on #352
@epnev Setting normalize == True does not fix the problem:
[code]
Also setting fit_intercept == False does not fix the problem:
[code]

Setting them both to False also does not work:
[code]

[2018-09-10 18:32] j-friedrich commented on #352
Do you use `only_init_patch=True` and `normalize_init=False`?
I get 19 components on your cropped example data, even without fixing lambda_lasso, though we should.

[2018-09-10 18:41] mschachter commented on #352
Thanks @j-friedrich. If I set normalize_init == False in the CNMFParams constructure, then *no modification of the LassoLars constructor is necessary.* These are the parameters I'm using:

[code]

[2018-09-10 19:44] mschachter commented on #352
@epnev Yes, setting normalize_init=False solves the problem of zero-ing without the need of modifications, and the cells look reasonable and not too sparse.

[2018-09-10 19:53] epnev commented on #352
@mschachter ah, that makes sense. For 1p data all the processing takes place in the initialization module and the LassoLars routine will be affected by this initialization. That shouldn't be the case for 2p data where the initialization does not call `update_spatial` etc. I still think however think that we should set `fit_intercept=False` although the effect should not be strong.

[2018-09-10 20:30] mschachter commented on #352
@epnev setting ```fit_intercept=False``` doesn't have any negative effects on this dataset.

[2018-09-10 21:50] j-friedrich commented on #352
Giving it a 2nd thought, I agree that `fit_intercept=False` is what we want. In this case `normalize` is actually ignored in `LassoLars`, which is fine because we normalize anyway before. The lambda_lasso formula should be ok too.
Should we further set `normalize_init=False` automatically if the ringmodel is used (`if method_init=='corr_pnr' and ring_size_factor is not None`)? Currently we set it

[2018-09-10 22:04] epnev commented on #352
@j-friedrich Yes, that's a good idea. Can you implement these changes on dev and close the issue?

[2018-09-10 23:42] j-friedrich commented on #352
Implemented, hence closing

[2018-09-10 23:42] #352 closed

[2018-09-11 21:13] mschachter opened #368 "support for in-memory movies with patch mode?"
I would like to use the CNMF object in patch mode, but with a matrix Y that is in-memory, and not from a memmapped file. However when I try this, the code fails because it's required that Y is memory-mapped. Would it be possible to remove this constraint?

[2018-09-12 14:14] epnev commented on #368
Not at the moment. I modified the code in the past to do that but it ended copying the entire dataset on each worker causing all sorts of memory overload. We would need to modify the code at a deeper level to achieve that.

[2018-09-12 16:14] mschachter commented on #368
Thanks for letting me know. It makes sense that you did it that way, given that you're using ipcluster on a distributed network with a network mounted drive. I'm working on an implementation that applies greedyROI_corr to patches, but from smaller sequences of movies, so memory usage can be limited even more than by setting the number of processes. However, I'm also benchmarking the CNMF object in

[2018-09-12 18:05] zbarry commented on #354
Yeah, should be good to go.

[2018-09-12 18:05] #354 closed

[2018-09-14 21:54] ronnyb29 commented on #367
Apologies for the delay - I'm using python from conda

[2018-09-15 03:51] pgunn commented on #367
That could be helpful, yes. Running your conda env's python under gdb might be a little more involved, but it also might be a way to get more of a hint where the problem is happening.

[2018-09-21 20:07] agiovann commented on #368
@mschachter a solution that a some point one could try to implement is to use some shared memory techniques. Less efficiently, but easier to directly load chunks of tiff files in each process. Both are possible but will need some thinking and work.

[2018-09-25 18:09] MarkCBenz opened #370 "Setting Parameters"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (2.7/3.x), and working environment (Spyder/Jupyter Notebook/other)**

Windows/ Python 2.7/ Jupyter Notebook

- **If you're not reporting an error, type your message below**

I would like to use the demo_pipline.ipynb to extract some traces from some 2p video. At the moment, the found components are much smaller than the

[2018-09-25 19:07] epnev commented on #370
@MarkCBenz You should try increasing the value of `gSig` which corresponds to the radius (in pixels) of a neurons on average. You can also increase the `rf` value.

Please also note that we do not support Python 2.7 in windows and you should consider switching to Python 3.

[2018-09-25 22:27] MarkCBenz commented on #370
@epnev thanks!

[2018-09-25 22:27] #370 closed

[2018-09-26 04:40] HunterTom94 opened #371 "pipeline demo import error"
Hi, I am using Win10, python 3.6 in Jupyter Notebook.

I installed everything based on the instruction in ReadMe.

However, when I tried to run pipeline demo in Jupyter Notebook. There is an error when I run the first block.

ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-5-317b0bf1ba69> in <module>()
      5 from builtins import map
      6 from builtin

[2018-09-26 13:37] pgunn commented on #371
Hi,
Are you sure you launched jupyter from within the conda environment you made from the instructions? If not, most of the libraries you need may not be present.

[2018-09-26 17:39] HunterTom94 commented on #371
Hi,

From the Anaconda Prompt, I typed in the following:

(base) C:\Users\hunte>activate CaImAn

C:\Users\hunte>set "KERAS_BACKEND=theano"

(CaImAn) C:\Users\hunte>jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10

Then Jupyter popped up from my browser. I then clicked into CaImAn and then demos, notebooks, and opened demo_pipeline.ipynb.

When I run the first section, I had this issue.

[2018-09-26 17:47] pgunn commented on #371
I am worried that you may be missing a number of other packages that should've been put in the environment when you initialised it, but let's see if that's true.

Before we get started on that, can you send me the output of "conda env list"  ?

[2018-09-26 17:51] HunterTom94 commented on #371
Here is the output I got when I type in 'conda env list' in Anaconda Prompt

base                     C:\Users\hunte\Anaconda3
caiman                   C:\Users\hunte\Anaconda3\envs\caiman

[2018-09-26 17:52] pgunn commented on #371
I am not entirely sure how case-sensitivity works with Conda on Windows, but could you retry your effort above, with "source activate caiman" (no caps)?

[2018-09-26 17:57] HunterTom94 commented on #371
Here are two outputs when I enter two cases respectively:
1. (base) C:\Users\hunte>activate CaImAn

C:\Users\hunte>set "KERAS_BACKEND=theano"

2. (CaImAn) C:\Users\hunte>activate caiman

C:\Users\hunte>set KERAS_BACKEND=

C:\Users\hunte>set "KERAS_BACKEND=theano"

It seems typing in all lower case output one more line.

Also this is the output of 'conda envs list' after I type in 'activate caiman'

[2018-09-26 18:02] pgunn commented on #371
I think the all-lowercase is indeed different and correct.

[2018-09-26 18:06] HunterTom94 commented on #371
After I typed in 'activate caiman' with all-lowercase, I typed in
"jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10" again.

I still get the same issue.

"ModuleNotFoundError: No module named 'past'"

[2018-09-26 18:06] pgunn commented on #371
Ok. So in the "caiman" environment (which you should use moving forward), let's fix the immediate problem and see if others come up - type `conda install future`)

[2018-09-26 18:13] HunterTom94 commented on #371
This is what I got:

(caiman) C:\Users\hunte>conda install future
Solving environment: done

## Package Plan ##

  environment location: C:\Users\hunte\Anaconda3\envs\caiman

  added / updated specs:
    - future

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    future-0.16.0              |

[2018-09-26 18:17] pgunn commented on #371
Is it exactly the same? Installing the "future" package should give what's needed to import things from past.

[2018-09-26 19:09] HunterTom94 opened #372 "Cannot find the example_movies"
Hi, I am using Win10, python 3.6 in Jupyter Notebook.

In the third section of demo_pipeline.ipynb, I got the following error.

Exception                                 Traceback (most recent call last)
<ipython-input-3-2af042ebf6cf> in <module>()
      1 if fname[0] in ['Sue_2x_3000_40_-46.tif','demoMovie.tif']:
----> 2     fname = [download_demo(fname[0])]

~\Anaconda3\envs\caiman\lib\site-pack

[2018-09-26 19:17] pgunn commented on #372
Hi,
From the anaconda prompt, do "python caimanmanager.py install"
This will make for you a datadir, independent of the sources, that you will be working from.

[2018-09-28 02:12] HunterTom94 commented on #372
Thank

[2018-09-28 02:12] #372 closed

[2018-09-28 13:53] lumin223 commented on #348
It seems fixed! Sorry for the late updates. I think higher RAM is better to have.

[2018-09-28 14:07] j-friedrich commented on #348
Glad to hear. Thanks for letting us know.

[2018-09-28 14:07] #348 closed

[2018-09-28 18:57] HunterTom94 opened #373 "Failure on running CNMF"
Hi, I am using Win10, python 3.6 in Jupyter Notebook.

I am modifying demo_pipeline.ipynb to run my own 1 photon imaging video.

The original demo_pipeline.ipynb can be executed without any problem.

When I was running the first section under CNMF, I had the following issue.

MemoryError                               Traceback (most recent call last)
<ipython-input-12-2b61ff959181> in <module>()

[2018-09-28 19:32] epnev commented on #373
@HunterTom94 How big is your file?

[2018-09-28 20:49] HunterTom94 commented on #373
481MB

[2018-09-28 23:20] HunterTom94 opened #374 "Outputing motion corrected videos in tif format"
- **If you're not reporting an error, type your message below**

Hi, as far as I can see in the code, the save_movie toggle saves the motion corrected movie as .mmap file. Is there anyway that I can have a tif file as the output?

Also, I am not sure what the use of files that end with  '_metric.npz' is.

Thank you very much!

[2018-09-30 16:49] epnev commented on #373
@HunterTom94 That shouldn't be an issue. How much memory do you have?

[2018-10-01 20:24] #374 closed, assigned to nobody

[2018-10-01 20:57] HunterTom94 commented on #373
@epnev Sorry for the late reply, I have 16GB RAM. I checked the usage right before I run the section in Jupyter Notebook, 40% of the RAM was in use.

[2018-10-02 18:21] HunterTom94 opened #375 "Source extraction on video imaging dendrites"
Hi, I am using Win10, python 3.6 in Jupyter Notebook.

In many demos files, I found a parameter called 'is_dendrites' and is set to False by default. Since I want to perform source extraction on a video that includes both cell body and dendrites, I want to set is_dendrites to True, but nothing happened. I then searched for this variable in the code but it is not used anywhere else, at least in the

[2018-10-02 22:51] epnev commented on #375
@HunterTom94 You can safely ignore this.

[2018-10-02 22:51] #375 closed

[2018-10-03 14:30] kareemcheese96 opened #377 "Index out of range during motion correct"
- Windows 10, numpy, python 3.7

- The current file I am now working with has more than 200 frames (9000) and it gives the following error at the motion correct line min_mov = min(cm.load(fname[0], subindices=range(200)).min(),0):

line 2992, in _seek
raise IndexError('list index out of range')

IndexError: list index out of range

 When I remove the subindices argument or replace range with slice

[2018-10-03 17:01] HunterTom94 commented on #373
@epnev I just changed the tif file from 16 bit to 8 bit and the file sized is half of the original (241 MB for 8 bit). There is still the same error. The mmap file that is loaded in the memory mapping step right before CNMF is 960MB.

[2018-10-03 17:47] epnev commented on #377
@kareemcheese96 What is the output of
[code]

[2018-10-03 17:59] kareemcheese96 commented on #377
That gives an error of
  line 222, in motion_correct_rigid
    print(-self.min_mov)

TypeError: bad operand type for unary -: 'tuple'

at the mc.motion_correct_pwrigid(save_movie=True)  line

[2018-10-03 18:00] epnev commented on #373
@HunterTom94 That shouldn't matter because everything will be converted to single precision at the end. Have you tried spatial downsampling, e.g., setting `ssub=2`?

[2018-10-03 18:01] epnev commented on #377
@kareemcheese96 Just type this command without calling any motion correction methods.

[2018-10-03 18:03] kareemcheese96 commented on #377
Oh sorry. The output of it is (9000, 800, 800)

[2018-10-03 18:05] epnev commented on #377
@kareemcheese96
Ok, I'm trying to understand where things break down.
How about this one?
[code]

[2018-10-03 18:06] kareemcheese96 commented on #377
@epnev Okay sounds good. That one gives an error

raise IndexError('list index out of range')

IndexError: list index out of range

[2018-10-03 18:07] epnev commented on #377
@kareemcheese96 That's weird. What's the extension of the file?

[2018-10-03 18:08] kareemcheese96 commented on #377
@epnev it's .tif

[2018-10-03 18:12] epnev commented on #377
@kareemcheese96 Most likely, your tiff file is read as a single block instead of a sequence of pages. This happens sometimes especially with files saved through fiji/imagej. Is this the case for you?

[2018-10-03 18:14] kareemcheese96 commented on #377
@epnev Oh yes, I did save using fiji/imagej. How can I fix this so that the tiff file is read as a sequence of pages?

[2018-10-03 18:31] HunterTom94 commented on #373
@epnev I tried to set ssub = 2 when I called the CNMF constructor, same error

[2018-10-03 18:39] epnev commented on #377
@kareemcheese96 Not sure. What is the version of your tifffile package?
You can type the following from your anaconda enabled command prompt
[code]

[2018-10-03 18:47] kareemcheese96 commented on #377
@epnev The version is 0.15.1

[2018-10-03 19:45] kareemcheese96 commented on #377
@epnev I just ran a 4600 frame file and it went through the pipeline without any issues, even though it was also a .tif that was saved through fiji/imagej

[2018-10-03 19:54] epnev commented on #377
@kareemcheese96 It doesn't happen all the time which makes this more confusing. You can load and save your file and then re-process it if necessary.
[code]
This by default will save the file with 32bit (single) precision. If you want to save it in the original format (e.g., uint16 or uint8) to save on file size you can do instead e.g.
```movie.astype(‘uint16’).save(`new_filename.tif`, to32=False)`

[2018-10-03 19:56] epnev commented on #373
@HunterTom94 Does this happen to all your files or just this one?

[2018-10-03 20:05] cgohlke commented on #377
ImageJ only saves one TIFF page/IFD if the file is larger than 4 GB.

[2018-10-03 20:30] HunterTom94 commented on #373
@epnev For now I only tested with 2 videos. The other video does not have this error. (Although the output of extracted source does not make any sense, because the accepted areas are all over the FOV.)

The other video's shape is (79, 128 ,128). It is 1 MB big.

[2018-10-04 20:03] kareemcheese96 commented on #377
@epnev yes it did resolve the issue. Thank you for all of your help!

[2018-10-04 20:18] zbarry opened #380 "correlation_pnr() unnecessary copying?"
In `caiman.summary_images`:

[code]

It looks like instead of `.copy()`ing the values in `data_raw` into `data_filtered`, it might be better to just use `data_filtered = np.empty_like(data_raw)` and `enumerate` through `data_raw` instead? Any enumeration in `data_filtered` through any of the flow branches appears to access values in `data_filtered` that would have been equivalent to accessing them

[2018-10-04 20:28] zbarry commented on #380
Might apply to: `tmp_data = data_filtered.copy() / data_std`, as well, since it seems like `data_filtered` is never referenced again and thrown away a few lines later when the function returns, anyway.

[2018-10-04 21:09] zbarry commented on #380
Going to hold up on making any calls on this, because I think memory caching might be giving me pretty variable results in run time. I'll open again if I actually have a good "assay" and find anything conclusive.

[2018-10-04 21:09] #380 closed

[2018-10-05 14:02] #377 closed

[2018-10-10 18:31] kareemcheese96 opened #384 "Value Error for Some Files"
For better support, please use the template below to submit your issue.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https://github.com/flatironinstitute/CaImAn/wiki/Updating-CaImAn).

[2018-10-10 18:49] agiovann commented on #384
@kareemcheese96 Does the movie contain NaNs or infinite values? Or does the movie contain pixels whose standard deviation is 0 (constant value in time)?

[2018-10-10 18:59] kareemcheese96 commented on #384
@agiovann I do not believe it contains any NaNs or infinite values, it should contain pixels with SD of 0. I apologize for the simplicity of this question, but is there a way for me to confirm that it contains pixels with SD as 0?

[2018-10-10 19:19] agiovann commented on #384
if this list is non empty then you have such values np.where(np.std(images,0)==0)

[2018-10-11 17:10] kareemcheese96 commented on #384
@agiovann Sorry for the delayed response. The output that it gives is
Out[7]: (array([], dtype=int64), array([], dtype=int64))

[2018-10-11 20:03] epnev commented on #384
@kareemcheese96 Can you provide a more complete message. I'd like to understand where this error occurs exactly. Also make sure you run with `dview=None`.

[2018-10-11 20:11] kareemcheese96 commented on #384
@epnev Yes, this is the complete error message.

Traceback (most recent call last):

  File "<ipython-input-6-3eae6d4a0fef>", line 71, in <module>
    cnm = cnm.fit(images)

  File "C:\Users\SvendsenLab\Anaconda3\envs\caiman\lib\site-packages\caiman\source_extraction\cnmf\cnmf.py", line 571, in fit
    del_duplicates=self.del_duplicates)

  File "C:\Users\SvendsenLab\Anaconda3\envs\caiman\lib\site

[2018-10-11 20:12] kareemcheese96 commented on #384
@epnev In the pipeline dview is set as dview=dview at multiple points. Should I change that to dview=None only at the following line, or at all instances?

cnm = cnmf.CNMF(n_processes=1, k=K, gSig=gSig, merge_thresh=merge_thresh,
                        p=0, dview=dview, rf=rf, stride=stride_cnmf, memory_fact=1,
                        method_init=init_method, alpha_snmf=alpha_snmf,

[2018-10-12 17:19] MarkCBenz opened #387 "Failed building wheel for caiman?"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-12 19:07] pgunn commented on #387
Hi,
Can you verifiy that you have, in your checkout, an example_movies\demoMovie.tif ? It should be present in your checkout but perhaps for some reason it's not there.

[2018-10-12 22:41] MarkCBenz commented on #387
Hi @pgunn,

I re-pulled CaImAn from GitHub and that seemed to solve the issue. demoMovie.tif was back where it needed to be. Thanks for the help.

best,
MB

[2018-10-12 22:41] #387 closed

[2018-10-12 22:46] MarkCBenz opened #388 "Kernel Error?"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Windows 10, Python 3.7, Jupyter Notebook

- **Describe the issue that you are experiencing**

Whenever I open the one of the .ipynb files housed in the \demos folder, I'm experiencing the "Kernel Error" copied below.

- **Copy error log below**
`Traceback

[2018-10-16 21:32] kareemcheese96 commented on #384
@agiovann @epnev Thank you for your help! That got them through the pipeline without any issue.

[2018-10-17 08:33] HagaiHargil opened #389 "Status of dF/F calculation?"
Hi, I was wondering what the current status of dF/F calculation is. I've reported on several issues with the resulting numbers from the `detrend_df_f` function in `source_extraction.cnmf.utilities` a while back (in the gitter), and @epnev kindly inspected my data and wrote `detrend_df_f_auto`, which significantly improved the correlation between the automatic dF/F calculation and manual calculatio

[2018-10-17 19:09] epnev commented on #384
@kareemcheese96 Glad this is fixed, but it is weird that you get an error if you set `dview=dview` but you don't if you set `dview=None`. Have you set the environment variables `MKL_NUM_THREADS=1` and `OPENBLAS_NUM_THREADS=1`?

[2018-10-17 19:17] epnev commented on #389
@HagaiHargil The `detrend_df_f` function now essentially replicates the `detrend_df_f_auto` if the variable `flag_auto` is set to `True` which is also its default value. So essentially, the `estimates` will by default call the old `detrend_df_f_auto`. I want to also include a more manual method that computes DF/F using the traditional annulus approach since it appears that in some cases you kind o

[2018-10-17 22:53] kareemcheese96 commented on #384
@epnev So one of the videos got through the pipeline, but the rest still give the same error after I set dview=None. I have not set the environment variables as such, would that fix the error? If so, do I set those in the command prompt?

[2018-10-18 07:17] HagaiHargil commented on #389
That's great to hear!

I see that one of the older bugs of `detrend_df_f_auto` found its way to the new `detrend_df_f` - [This line](https://github.com/flatironinstitute/CaImAn/blob/7df61047f3bbb3dda40e9e2666667b4f5e290527/caiman/source_extraction/cnmf/utilities.py#L332) should be identical to [this one](https://github.com/flatironinstitute/CaImAn/blob/7df61047f3bbb3dda40e9e2666667b4f5e290527/caim

[2018-10-18 13:27] hluetck opened #390 "Installation error on OS X 10.13"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-18 14:49] epnev commented on #389
@HagaiHargil You're right. I update it, thanks!

[2018-10-18 14:52] epnev commented on #384
Yes, you do that in the command prompt.
@pgunn Can you give instructions, also update the installation instructions for environment variable setting in windows?

[2018-10-18 15:09] pgunn commented on #384
Hi,
So on Windows, you would issue the following commands after every time you enter your conda environment:
[code]
I hope this helps.

[2018-10-18 15:18] hluetck commented on #390
I fixed this myself. For some reason, it was using clang installed by conda and not the Apple version. I repaired it and everything works fine now.

[2018-10-18 15:18] #390 closed

[2018-10-22 16:34] bingcao2 opened #391 "Cannot use spyder after update"
Hi All,
Thank you for your efforts to update CaImAn. I have updated it on my mac (High Sierra, 10.13.6) however could not run the spyder as I used to before. My caiman is installed in anaconda with python 3.6. I could use Jupyter to successfully run the demo in notebook, which means the code works
well in my mac. Please find the error log when I try to run spyder as follows. Additionally, I also c

[2018-10-22 17:59] epnev commented on #391
@bingcao2 Does this happen on all the files or a specific demo?
Please also list the output of
[code]

[2018-10-22 18:13] bingcao2 commented on #391
Thanks for your reply.
This happens when I try to run Spyder in the caiman, not related to demo or other files.
Please find the information of pyqt as follows.
[code]

[2018-10-22 18:18] agiovann commented on #391
@pgunn is this something you bumped into before?

[2018-10-22 18:21] pgunn commented on #391
Hi,
Can you try the following command?
`conda install -f qt`

[2018-10-23 02:00] HunterTom94 opened #392 "The system cannot find the file specified"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-23 02:51] bingcao2 commented on #391
Thanks for the information. I use `conda install qt=5.9` to fix the spyder problem.
However, I experienced errors when I tried to run any of our demos. Please find the error logs as follows. I can run the demo in notebook perfectly using Jupyter, so I think my installment of CaImAn is correct.
Many thanks for your help!

[code]

[2018-10-23 05:53] HagaiHargil commented on #389
@epnev Thank you for the quick fix.

Another bug I discovered is that when CaImAn detected zero active components, the function will crash. You're checking for this edge case [here](https://github.com/flatironinstitute/CaImAn/blob/0b24d059ae8a59ec7933e347f20e48e0172c22af/caiman/source_extraction/cnmf/estimates.py#L548), by checking `if self.C is None`, but (at least on our datasets) when there are

[2018-10-23 15:20] agiovann commented on #391
@bingcao2 maybe is it more complex than this, but try to recompile oasis (reinstall caiman with pip install .)

[2018-10-23 15:22] agiovann commented on #392
@HunterTom94 As specified in the instruction, have you tried with dview=None?

[2018-10-23 16:02] j-friedrich commented on #391
I think it's a different error. The ImportError is indeed most likely due to not compiling oasis.

[2018-10-23 18:21] HunterTom94 commented on #392
@agiovann I have not run the code yet, because when I open the .ipynb file, there is a kernal error. I am not able to run any code on JupyterNotebook.

[2018-10-23 18:33] epnev commented on #392
Related to #388
@pgunn could it be because we removed one of the .tif files recently? I wonder whether caimanmanager is looking for it.

[2018-10-23 18:53] pgunn commented on #392
This is in the notebook; caimanmanager is a separate CLI util and doesn't really have moving parts when it's not being run. I patched caimanmanager sometime back.

[2018-10-23 18:57] epnev commented on #392
@pgunn ok. Can you look into it?

[2018-10-23 19:00] pgunn commented on #392
@HunterTom94 Does opening the other notebooks give you the same result? (it doesn't look like this is happening in any of our code)

[2018-10-24 06:06] bingcao2 commented on #391
Hi All,

I find that only updating qt to 5.9 is not a good solution for the spyder issue. I could run spyder after updating qt, however, my jupyter and spyder experienced a lot of errors which never happened when qt=5.6, even though I have reinstalled caiman. So I have installed caiman through pycharm and change the python interpreter, which works very well right now. Many thanks to all of you for

[2018-10-24 19:17] epnev commented on #389
@HagaiHargil Thanks, again. I modified to also check for this condition. In the future, feel free to submit pull requests for other bugs you encounter.

[2018-10-24 19:17] #389 closed

[2018-10-26 00:27] HunterTom94 opened #393 "Using CUDA but no improvement"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-26 02:19] bingcao2 opened #394 "Idea to use demo_OnACID_mesoscope"
Hi All,

I am testing the demo of OnACID on our microscope data recorded in different days. To compare the demo data from Dr. Tolias, which background brightness are quite similar, the brightness of our data fluctuated very much. These unstable conditions induce huge changes at boundaries among data, that make further analysis becomes impossible.
So I am trying to use pipeline_cnmfE to save a .mma

[2018-10-26 18:58] pgunn commented on #393
Hi,
Wanted to get back to you and let you know we saw the issue; some of us are presently at a conference, but we'll be looking into this soon.

[2018-10-26 19:04] HunterTom94 commented on #393
@pgunn Thank you very much!

[2018-10-26 21:59] epnev commented on #394
@bingcao2
If I understand your question correctly you can use something like this:
[code]
Does this work? To understand how this works, check this [wiki entry](https://github.com/flatironinstitute/CaImAn/wiki/Interpreting-Results) on how each variable works.

Also, do your problems with spyder/pycharm in #391 still persist?

[2018-10-26 22:03] epnev commented on #392
@HunterTom94 Are you still facing this problem?

[2018-10-26 22:33] HunterTom94 commented on #392
@epnev I do not have other ipynb file to test with, but I worked around this by using running Jupyter on Ubuntu. I will not say problem is solved but I try not to deal with it at the moment. Sorry for the confusion.

[2018-10-27 01:14] bingcao2 commented on #394
Thank you epenv. The code works very well!
For the issue #391, I haven't find the correct way to copy the ∆F/F.
Since the code to plot each curve is already in the demo, is it possible to copy all of them into clipboard for further analysis? Many thanks for your help!
[code]

[2018-10-27 12:46] #394 closed

[2018-10-27 12:52] epnev commented on #391
@bingcao2 The DF/F traces are included in `cnm.estimates.F_dff`. If you want to store them separately you can use some numpy command, e.g., [`np.savez`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.savez.html)
Is that what you're looking for?

[2018-10-27 23:34] agiovann commented on #391
@bingcao2 there is also a scientific mode in pycharm that will allow you to use the code interactively like in spyder https://www.jetbrains.com/help/pycharm/matplotlib-tutorial.html

[2018-10-29 03:36] yufu1981 opened #395 "error when importing cnmf"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-29 13:30] j-friedrich commented on #395
Please try to recompile oasis (reinstall caiman with pip install .)

[2018-10-29 14:11] epnev commented on #393
@HunterTom94 Note that if you initially run your code and then you change a parameter you will need to restart your local cluster for your changes to take effect.
You can do that by setting
[code]
and then again restart it.

[2018-10-29 14:52] kareemcheese96 commented on #384
Sorry, we have been trying to figure out if the error can be attributed to the file conversion that we do after acquisition. The file is acquired as a CXD, and we convert it to a tif through fiji/imagej. Just trying to confirm whether this is the issue or not before sending over the example, to be sure

[2018-10-29 20:38] HunterTom94 commented on #393
I reboot the computer and started from the beginning.

When I ran
dview.terminate()
after the comment line saying
"#%% start a cluster for parallel processing (if a cluster already exists it will be closed and a new session will be opened)"
I got error message that dview is not defined. So I guess I am starting a new cluster from scratch.

I also add the line
‘use_cuda’: True,
after the line
‘use_

[2018-10-29 20:51] epnev commented on #393
@HunterTom94 Most likely, your installation fails to use the GPU and reverts back to the standard method. It's unclear why at this moment. The usage of CUDA is experimental at the moment so we cannot provide a lot of support.

Is your issue #373 still a problem or can we close it?

[2018-10-29 20:53] #373 closed

[2018-10-29 20:54] HunterTom94 commented on #393
Ok, thank you very much. I just closed #373

[2018-10-29 21:46] HunterTom94 commented on #393
I did not see the message, at least not under the cell that performs motion correction. The only message I see is that

108221 [motion_correction.py:motion_correction_piecewise():2544] [3572] **** MOVIE NOT SAVED BECAUSE num_splits is not None ****

and I also checked activity from nvidia-smi -l 5
During the run of the motion correction cell, most of the time volatile GPU util is around 1%, someti

[2018-10-29 21:54] HunterTom94 commented on #393
When starting a cluster, does the 'backend' variable need to be set up as a special value in order to use CUDA? I am currently using

if 'dview' in locals():
    cm.stop_server(dview=dview)
c, dview, n_processes = cm.cluster.setup_cluster(
    backend='local', n_processes=None, single_thread=False)

[2018-10-29 22:06] epnev commented on #393
This is fine. I cannot say what is wrong at the moment. I suggest you use the standard version which is still fairly fast.

[2018-10-30 01:19] yufu1981 commented on #395
I remove the caiman folder under anaconda3/envs and reinstalled Caiman using:
cd CaImAn/
conda env create -f environment.yml -n caiman
source activate caiman
pip install .

still get this error message.

it's ok to do import caiman as cm, but always get same error message when doing anything related with cnmf

[2018-10-30 12:30] pgunn commented on #395
Hi,
when you do this, please make sure you then use caimanmanager to make a data folder (which has code samples and demos) and that you run the demos from there; you should not work from inside the source tree.

[2018-10-30 15:41] epnev commented on #242
I'm closing this issue because I believe it is solved with d83712501013442bebcc4bdf90ba12e4b21be01d. Long story short, imagej/fiji will generate single page tiff files if the size is greater than 4GB and should be avoided. Feel free to open a new issue if you have concerns about this.

[2018-10-30 15:41] #242 closed

[2018-10-30 15:46] epnev commented on #384
@kareemcheese96 Bear in mind that if you create a tif file through fiji/imagej that is larger than 4GB, it will be saved as a single page tif file. This can create various performance problems in the pipeline since the whole file will be loaded in memory every time you call it, even tough you would only need to load a few frames from it.

[2018-10-30 19:40] HunterTom94 opened #396 "Correct Usage of Parameters"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-30 20:09] HunterTom94 commented on #396
![screenshot from 2018-10-30 13-02-39](https://user-images.githubusercontent.com/26583005/47746907-5fec2b00-dc44-11e8-8260-a621209a18a6.png)

My guess is that there is no components got accepted. In the picture attached, it seems that all neurons are not in any component found. I am not sure which direction I shall tune the parameters to.

Thank you very much!

[2018-10-30 20:29] HunterTom94 commented on #396
My understanding of patches is that it helps with the parallel processing.
Will the number of patches (determined by two lines below) influence the result?

rf               # half-size of the patches in pixels. e.g., if rf=25, patches are 50x50
stride_cnmf              # amount of overlap between the patches in pixels

[2018-10-31 01:47] yufu1981 commented on #395
thanks. everything works now.

[2018-10-31 01:59] #395 closed

[2018-10-31 18:32] HunterTom94 opened #398 "RuntimeError: invalid percentile when Extract DF/F values"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-10-31 18:47] epnev commented on #396
@HunterTom94 I see that you closed the issue. Did you figure out what was going wrong?

[2018-10-31 19:02] epnev commented on #398
@HunterTom94 Can you put a break point after [line 332 of utilities.py](https://github.com/flatironinstitute/CaImAn/blob/master/caiman/source_extraction/cnmf/utilities.py#L332)?
you can do that by typing
[code]
after that line. Then tell me the range of values for the variable `data_prct`, e.g., if there are negative values or values above 100.

[2018-10-31 20:23] HunterTom94 commented on #398
@epnev I edited the utilities.py file and also added the line
print(data_prct)
after pdb.set_trace()

Then I reran
cnm2.estimates.detrend_df_f(quantileMin=8, frames_window=250)

Same error showed up and I did not see data_prct getting printed.

[2018-10-31 20:34] HunterTom94 commented on #396
@epnev I believe the index error is caused by the fact that there is no accepted components.

However, I still have the question about choosing the right size of patches and the corresponding k (number of components in a patch) values.

Neurons are not evenly distributed in FOV. Thus, some patches may have more neurons than the others. In that case, what should k be?

Also, in line 106 of cnmf.py

[2018-10-31 20:39] epnev commented on #398
@HunterTom94 you should probably terminate the cluster for the effect to take change. `dview.terminate()`

[2018-10-31 20:43] epnev commented on #396
@HunterTom94 We do not distinguish between neurons and in components in the comments/documentation. In general k should reflect the maximum number of neurons you see in a patch. For patches with less neurons, false positives will be introduced and the component evaluation step will attempt to remove them.

[2018-10-31 21:11] epnev commented on #388
@MarkCBenz closing due to inactivity. Feel free to reopen if your issue persists

[2018-10-31 21:11] #388 closed

[2018-11-02 00:35] HunterTom94 commented on #396
@epnev Thank you for your reply. However, this still does not explain why in the screenshot I provided, in the top region and bottom region (backgrounds), found components are checker-board shaped, while in the middle where neuron actually lies. No a single neuron get identified as a component. In fact, all neurons seem to be "perfectly avoided" being detected as a component. Is there a way to fix

[2018-11-02 00:45] HunterTom94 opened #400 "Value Error when running CNMF"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-11-02 14:15] epnev commented on #396
@HunterTom94 There is something weird with the figure you posted since the background appears to have higher values than the places were neurons are visible. If you send me the file and the script you're using I can try to replicate.

[2018-11-02 14:16] epnev commented on #398
@HunterTom94 any updates on this one?

[2018-11-02 18:30] HunterTom94 commented on #398
@epnev I restarted the kernel and  added

dview.terminate()

before:
if 'dview' in locals():
    cm.stop_server(dview=dview)
c, dview, n_processes = cm.cluster.setup_cluster(
    backend='local', n_processes=None, single_thread=False)

The error says dview not defined. So I think when restart the kernel dview variable is cleared and should be recreated when testing.

However, I reran the whole pro

[2018-11-06 13:54] epnev commented on #396
@HunterTom94 I took a look at the dataset. There is a couple of things:
- I cannot reproduce the figure you're sending me with your script. When I run your script I do not get the tiling of components on the upper part.
- The dataset is very short with barely any activity shown. If I plot the average value of each frame I get the following trace:
![download](https://user-images.githubusercontent.c

[2018-11-06 13:54] #396 closed

[2018-11-06 14:00] epnev commented on #398
@HunterTom94 Try running by setting `dview=None` when creating the CNMF object:
[code]

[2018-11-06 14:01] #393 closed

[2018-11-06 14:02] #391 closed

[2018-11-08 13:32] HagaiHargil opened #401 "Estimate().select_components removes information of valid components"
Hi,

For some applications I need to log the indices of the components that were eventually used in the computation, i.e. components that following estimation are considered valid.

However, [somewhere](https://github.com/flatironinstitute/CaImAn/blob/master/demos/general/demo_pipeline.py#L240) down the pipeline you call the `Estimate().select_components` method, which includes [these](https://git

[2018-11-09 01:18] HunterTom94 commented on #398
@epnev I tried with dview=None, but I still get the same thing. I am wondering if the error is due to that I chose the wrong value of quantileMin and frames_window. I was using the default quantileMin=8, frames_window=250. Does those values need to be compatible with some of my video parameters? (for example, the video's total frame number is 271.)

[2018-11-09 16:16] epnev commented on #248
an example appears with #402

[2018-11-09 16:16] #248 closed

[2018-11-09 17:42] HunterTom94 commented on #396
@epnev Thank you for your explanations! Also, I am wondering what are the difference between black circles and red contours displayed in the components viewing graph. They seems to be independent of each other, although sometimes I see black circles lie in the center of the red contoured area.

[2018-11-09 19:04] epnev commented on #398
@HunterTom94 Your dataset is very short so I wouldn't pick a `frames_window` value that is even shorter. Leave it to 500.

[2018-11-09 20:15] epnev commented on #400
@HunterTom94 The error arises when you call the scikit learn NMF function and is most likely not caiman related. Make sure that your data matrix is finite and does not contain NaN values or mostly negative numbers.

[2018-11-09 20:38] agiovann commented on #401
Dear @HagaiHargil

thank you for the feedback. Can you be more precise about the inconsistency. When I run this piece of code at the end of demo_pipeline:

[code]
I get the following output

[code]

only nr is inconsistent (I am fixing that part). As you see everything else contains the values 60 (components after filtering). Departing from this piece of code, could you tell me where is the incons

[2018-11-12 21:17] epnev commented on #401
@HagaiHargil This is fixed with #404
The rejected components are being saved by default as a new Estimates object within estimates, and can be restored (merged) with the accepted components using the estimates method `restore_discarded_components`. It's now on dev but will be merged with master soon.

[2018-11-12 21:17] #401 closed

[2018-11-13 19:43] HunterTom94 commented on #393
@epnev Hello, the previous discussion was based on running pipeline_demo. However, when I run demo_motion_correction.ipynb I do see the message

1272231 [motion_correction.py:            __init__():194] [18387] pycuda is unavailable. Falling back to default FFT.

I then did
conda activate caiman
pip install pycuda

The message still appears.

[2018-11-13 19:50] epnev commented on #393
The message means that for some reason GPU is not used during motion correction. Is there a particular reason you want to use GPU so bad? The speed up you get is not that substantial and for short datasets it can actually be considerably slower.

[2018-11-15 03:31] tom1193 opened #408 "Future of visualizing live outputs of OnACID?"
Are there any plans to support a feature that visualizes the outputs of a running OnACID program in live time? As referenced in the OnACID paper, this would allow for closed-loop experiments in which the experimentor change the stimulus or other experimental conditions based on the recorded neural activity.

I have been [working on a server](https://github.com/tom1193/servaiman) that can pipe the

[2018-11-15 13:32] epnev commented on #408
@tom1193 We definitely have plans to use OnACID for closed loop experiments and are thinking about the best way to do this. Right now you have the option to generate a movie of the processed results while analyzing the data by setting `show_movie=True` in the `params` object. We can talk more to understand what you have in mind. @agiovann

[2018-11-15 16:37] agiovann commented on #408
dear @tom1193 can you tell us more about the application? What visual framework are you using? We definitively would like to extend this with that capability in the near future.

[2018-11-16 13:01] epnev commented on #408
@tom1193

There are two different cases there depending on whether you update all shapes at once every N frames (default) or whether you update a *few* shapes at every frame. This is governed by the boolean parameter `params.online.dist_shape_update`. In any case these updates mostly change the shape and not the position so after a few frames the position of the components is more or less stabiliz

[2018-11-16 13:47] jmxpearson commented on #408
I think the current approach @hawkwings has been working on is Python-based and so a little easier to modify. But we’ve done very little along visualization lines.

Likely the priority should first be to just figure out the incremental computation bit, after which one can think about moving visualization to GPU libraries.

[2018-11-16 16:34] epnev opened #409 "problems with pyqt and spyder or mac"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

macOS, Python 3.6, Spyder

- **Describe the issue that you are experiencing**

I'm having a problem similar to #391 on my mac. Wile creating a new environment the following version `pyqt` was installed from conda-forge:
[code]
This causes spyder crash befo

[2018-11-16 19:30] #384 closed

[2018-11-16 19:37] kareemcheese96 opened #410 "Issues installing caimanmanager.py"
@pgunn continuing off of the issue on gitter, I performed the conda update opencv numpy within the environment. After doing so and attempting the python caimanmanager.py install, I received a different issue. The following error message came up:
FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this wil

[2018-11-16 19:49] pgunn commented on #410
If you reinstall caiman with pip it should fix the issue.

[2018-11-16 22:51] kareemcheese96 commented on #410
I reinstalled caiman with pip, but I then got the same error as above when I wrote in "python caimanmanager.py install"

[2018-11-17 01:07] HunterTom94 commented on #393
@epnev Thank you for your reply. The sample data we sent you previously was spatially down sampled for the purpose of uploading to network drive. Our typical file is 1024*1024 (pixels) *1200 (frames) and is 2.5Gb. A rigid correction takes about 1min 30sec, but a non-rigid correction takes 20 mins for each. So if GPU can accelerate the speed of non-rigid correction, it would be very helpful.

Below

[2018-11-17 01:31] epnev commented on #393
@HunterTom94 The plots show that different patches can have different shifts which is indicative that non-rigid motion correction might be necessary. However, I suggest you look at the videos of the motion corrected movies with either rigid or non-rigid correction to judge for yourself.

A parameter you can change is `strides` which corresponds to how big each patch is. As the `demo_pipeline` says

[2018-11-17 15:42] pgunn commented on #410
What you'll want to do is copy caimanmanager.py outside the caiman folder, and run it there.

[2018-11-19 22:21] kareemcheese96 commented on #410
@pgunn Great, thank you for all of your help! It worked now.

[2018-11-19 22:21] #410 closed

[2018-11-19 23:00] pgunn commented on #409
I've reproduced the issue on my mac laptop and think I know what's going on - the issue is that the versions of pyqt (5.6.0) and qt (5.6.2) are not compatible. If you do `conda install qt=5.6.0` (assuming you have conda-forge enabled for your environment, if not you may need to tweak the above slightly), it will install a version of qt compatible with pyqt 5.6.0 and everything will be fine.

[2018-11-19 23:02] pgunn commented on #391
@bingcao2 FYI, I found a less disruptive fix for this issue in #409

[2018-11-19 23:05] bingcao2 commented on #391
Thank you Pat! I will read it.
Bing

[2018-11-20 12:52] epnev commented on #409
@pgunn That didn't work for me. I get the following error when trying to install `qt`:
[code]

[2018-11-20 14:28] MaximilianHoffmann opened #411 "Install Error Windows Visual Studio (vcvarsall.bat)"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-11-20 15:43] MaximilianHoffmann commented on #411
Ok. since this picked up the VS 2015 installation , I had to upgrade it , to include the common tools for C++ and python tools for c++ (not sure if both are necessary) . Works now, with VS 2015

[2018-11-20 15:43] #411 closed

[2018-11-20 18:27] bingcao2 opened #412 "Fail to install CaImAn in macOS 10.14 Mojave"
Hi All,

I tried to install caiman in the new version macOS 10.14 and encountered the error as follows. Neither `pip install .` nor `pip install -e .` could install caiman in my mac. Thank you very much for you help to fix this problem.
Bing

[code]

[code]

[2018-11-20 18:56] pgunn commented on #412
Hi,
According to this:
https://apple.stackexchange.com/questions/254380/macos-mojave-invalid-active-developer-path

You may be able to fix the issue by doing this first:
`xcode-select --install`

Try that first and see if it makes the install work.

[2018-11-20 19:14] bingcao2 commented on #412
Great! I have installed caiman. Please close this issue. Thank you very much!

[2018-11-20 19:16] pgunn commented on #412
Happy to help

[2018-11-20 19:16] #412 closed

[2018-11-20 19:17] bingcao2 commented on #409
Hi,
I have used `conda install qt=5.6.0` to reinstall qt, and the spyder could be opened now.
However, when I tried to import caiman I encountered the error as follows. Would you do me a favor to help me fix this error. Many thanks!
Bing

[code]

[2018-11-20 19:18] pgunn commented on #409
Hi, are you sure you are in the conda environment when you're doing this? If so, can you do this and send me the output?

`conda list | grep opencv`

[2018-11-20 19:36] bingcao2 commented on #409
Hi,
The default version of opencv is 3.1. Is it ok to install this version? Because the opencv=3.2 will update qt to 5.6.2. Please find the information as follows. Thank you very much!
Bing

[code]

[code]

[2018-11-20 19:37] pgunn commented on #409
Ah. That's really unfortunate. What happens if you try this?
`conda install opencv=3.2 qt=5.6.0`

[2018-11-20 20:14] bingcao2 commented on #409
Hi,
Please find the error information as follows. Thanks.

[code]

[2018-11-20 21:36] MaximilianHoffmann opened #413 "doc string gives img option , but it's not part of the code?"
https://github.com/flatironinstitute/CaImAn/blob/f894473f123f4dd2d7a2952e599f6432aa98847e/caiman/source_extraction/cnmf/estimates.py#L351

[code]
[code]

[code]

[2018-11-20 21:56] pgunn commented on #409
This worked locally; we're looking at other ways to solve this and will have an answer soon. Apologies.

[2018-11-21 10:53] MaximilianHoffmann opened #414 "initialize_components, doc string and methods"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-11-21 10:56] MaximilianHoffmann commented on #414
I just saw, that the only difference is the opencv flag
https://github.com/flatironinstitute/CaImAn/blob/f894473f123f4dd2d7a2952e599f6432aa98847e/caiman/source_extraction/cnmf/initialization.py#L282

[2018-11-21 11:04] MaximilianHoffmann opened #415 "What is implemented for 3D, and what only for 2D data"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-11-21 20:55] agiovann commented on #415
@MaximilianHoffmann thank you for the heads up. The reason is that init_neurons_corr_pnr is mostly used for 1-photon data, for 3D we use greedy_roi. At the moment that we did not process any 1photon 3D data, but of course his could be extended to the 3D case. What is your use case? I marked this is as an enhacement and  as a bug. Cheers.

[2018-11-21 21:03] agiovann commented on #414
Dear @MaximilianHoffmann, no the difference is not only the opencv flag but the way the whole initialization process is carried out. I corrected the docstring and commented when to use each of them. I will push soon to master.

[2018-11-21 21:05] agiovann commented on #415
@marianotepper I am modifying  the documentation to alert the user about the possible conflict

[2018-11-21 21:08] agiovann commented on #413
@MaximilianHoffmann fixing it, pushing soon

[2018-11-21 21:12] #413 closed

[2018-11-21 21:13] agiovann commented on #414
@MaximilianHoffmann at the moment local_nmf is unsupported and pca_ica  experimental

[2018-11-21 21:13] #414 closed

[2018-11-21 21:15] agiovann commented on #409
still working on it

[2018-11-22 09:48] MaximilianHoffmann commented on #415
Hi,
thanks for addressing my issues. My data is from a yet unpublished microscope, which delivers 3d data. It makes some compromises in z-sectioning to image larger volumes though, so there is partially some bleed through from layers below, similar to what you would expect from the endoscope data. Of course it has a well defined PSF, so in principle something like 3D greedy roi should probably wor

[2018-11-22 09:49] MaximilianHoffmann commented on #414
Thanks for addressing this!

Cheers
Max

[2018-11-26 08:55] hluetck opened #416 "Value error: dimension mismatch with sparse_nmf initialization"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-11-26 16:52] agiovann commented on #416
Thank you for the feedback,

I suspect it has to do with the fact that you find less than expected
components. Could you please add a breakpoint  at

594 nB_inv_mat = scipy.sparse.spdiags(1. / nB, 0, nB.shape[0], nB.shape[0])
595 self.b = self.b * nB_inv_mat
--> 596 self.f = nB_mat * self.f

And let me know which dimensions are mismatched?

Thank you!

On Mon, Nov 26, 2018, 03:55 Henry <notificati

[2018-11-26 19:02] agiovann commented on #415
@MaximilianHoffmann Thank you, that sounds interesting! If you want to work with us on that we would be happy to collaborate.

[2018-11-27 14:02] hluetck commented on #416
Hello,

thanks for your reply.

the variables are:

nB_mat:
  (0, 0)	9643.70735351
(1, 1)
<class 'scipy.sparse.dia.dia_matrix'>

self.f:
(732,)
<class 'numpy.ndarray'>

[2018-11-27 15:50] j-friedrich commented on #416
Hi Henry, i managed to reproduce the error using your opts.
Can you please remove the `.squeeze()` from `f_in = model.components_.squeeze()` in line 541 of `initialization.py` and confirm that this resolves the issue?

[2018-11-27 19:07] hluetck commented on #416
Hi Johannes, I can confirm that this change resolves the issue. Thanks a lot!

[2018-11-27 19:07] #416 closed

[2018-11-27 19:21] bingcao2 commented on #409
Hi,
 Since I could only use jupyter to run the code in notebook without spyder, could you tell me how to get  ∆F/F in jupyter? Here is some hints previously, but I still don't know how to write the code. I do appreciate if you could write the code to extract all the ∆F/F and could paste it into excel for further plotting. Many thanks!

Quoted from epnev

[2018-11-27 19:38] j-friedrich commented on #416
Thanks. I just updated master and dev accordingly.

[2018-12-02 12:29] MingkangLi opened #418 "Problems with installation using anaconda"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-12-02 20:58] pgunn commented on #418
Hi,
The last time this happened it had to do with oddities with the conda package that links the MSVC++ CLI utils to your conda environment. Could you try the following?

`conda install -n caiman vs2017_win-64`

[2018-12-05 00:03] omidm7 commented on #409
Yes I would also love to be able to extract delta F/F in Jupyter. Is there a quick line for this?

[2018-12-06 21:39] pgunn commented on #418
@Zaikkp Hi, did you get the chance to try any of the above?

[2018-12-06 21:40] pgunn commented on #409
@bingcao2 @omidm7 Is there any way one of you could open a different issue for that question? Would be helpful in dependency tracking and assignment.

[2018-12-06 21:41] pgunn commented on #392
Hi,
For now we're closing this issue as it's not actively being debugged. If you'd like to work on it again, reopen or open a new issue.

[2018-12-06 21:41] #392 closed

[2018-12-06 21:42] pgunn commented on #367
@ronnyb29 Hi, any news on this? It'd be great not to leave issues open for too long without movement on them.

[2018-12-06 21:43] pgunn commented on #364
@galenlynch Hi, what's the status of this issue? I'm hoping not to leave bugs open for too long without forward movement.

[2018-12-06 21:55] pgunn commented on #409
FYI, this is the Github issue we're waiting on for the Spyder issue.

https://github.com/conda-forge/qt-feedstock/pull/82

[2018-12-06 22:08] galenlynch commented on #364
Sorry, I've been using the Matlab cnmfe package instead, and will close this issue until I can spend some time on reproducing it.

[2018-12-06 22:08] #364 closed

[2018-12-11 02:38] vathalye commented on #418
Hi,
I'm having the same issue as Zaikkp.  It appeared during caiman installation on two windows machines ( 1) Windows 7 with Python 3.7, 2) Windows 10 with Python 3.6.6), each of which had Microsoft Build Tools for Visual Studio 2017 installed.  (I will note that I did not have this issue when installing caiman in May 2018.)

Ultimately, I was able to finish the caiman installation on both compute

[2018-12-11 16:11] pgunn commented on #418
Hi,
I thought we had noted what VC++ components needed installation; if you remember what you needed to add that was not there by default, we can update our docs. I think the latter issue you were hitting came from Theano not being a supported configuration for CaImAn ; we intend for people to use the Tensorflow backend for Keras. If you can do

[code]

before running CaImAn code, that'll hopefull

[2018-12-11 20:04] vathalye commented on #418
Hi Pat,

Thanks very much for your quick reply; much appreciated!  Running:
SET KERAS_BACKEND=tensorflow
Solved the OnACID errors.
(I'm not sure why running "activate caiman" sets KERAS_BACKEND to theano...  )

Thanks!

--

For the VC++ components, I believe "activate caiman" triggered searching for an older version of build tools from VS2015 version 14.0, which leads to the error.  (this is likel

[2018-12-11 20:13] pgunn commented on #418
@vathalye  Ah, that's interesting. One of the harder things for us to control on Windows compared to the other platform is the wider variety of likely systems configurations (I would not be surprised if visual studio community coexisting with the CLI tools was part of the problem there).

As for what's happening with the KERAS_BACKEND env var, unfortunately on Linux and Windows the Keras library i

[2018-12-11 20:35] vathalye commented on #418
@pgunn ,
Ah thanks!  yes, I changed the setting in
envs\$ENVNAME\etc\conda\activate.d\keras_activate.bat, which previously set the backend to theanos.

I also found and deleted "vs2015_compiler_vars.bat" from this directory, as @symonova suggested, and now "activate caiman" does not result in output text related to vs2015.

Thanks!

[2018-12-12 20:22] MaximilianHoffmann opened #419 "dimensional ordering in get_contours()"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2018-12-12 20:55] MaximilianHoffmann commented on #419
Ok, so the grid initialised there, actually aren't use. But the problem persists.
I get it, it's good to loop over the first axis in
https://github.com/flatironinstitute/CaImAn/blob/master/caiman/utils/visualization.py#L312
 , but I wonder whether swapAxes should be set to true in the 3d case or something.

[2018-12-13 18:06] bingcao2 opened #420 "Code for extract ∆F/F in jupyter notebook."
Hi,
Since I could only use jupyter to run the code in notebook without spyder, could you tell me how to get  ∆F/F in jupyter? Here is some hints previously, but I still don't know how to write the code. I do appreciate if you could write the code to extract all the ∆F/F and could paste it into excel for further plotting. Many thanks!

Quoted from epnev

_Originally posted by @bingcao2 in https://g

[2018-12-13 23:00] tbenst opened #421 "Problems with demo_motion_correction"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Ubuntu 18.04, anaconda w/ python 3.6, installed via environment.yml file. Working in jupyter.

- **Describe the issue that you are experiencing**
1. 'download_demo' fails with `HTML 400 - bad request`.
2. If I try to run with my own tiff files, the `play` m

[2018-12-14 05:09] pgunn commented on #421
Hi,
1) It looks like the storage for this file on Dropbox is no longer working; I'm going to need to correct the sources to address this issue. I'll try to get this addressed on Friday.
2) Right now while you can run the main body of the code without graphical support (we in fact do this in CI), you're going to be missing out on some visualisation; there's not a good way around that. If you can st

[2018-12-14 11:01] MaximilianHoffmann opened #422 "can memory efficiency in intialisation be increased by supressing resize if ssub and tssub are =1?"
https://github.com/flatironinstitute/CaImAn/blob/master/caiman/source_extraction/cnmf/initialization.py#L360-L372

Is this true?:
The resize step would not have to be done if tsub and ssub are =1.  Since resize creates a copy of A this is not negligible in the case of a 3d dataset if its not needed?

[2018-12-14 11:33] agiovann commented on #420
dear @bingcao2,
in demo_pipeline (https://github.com/flatironinstitute/CaImAn/blob/master/demos/notebooks/demo_pipeline.ipynb)

there is a cell that computes DF/F
#%% Extract DF/F values
cnm2.estimates.detrend_df_f(quantileMin=8, frames_window=250)

In order to save in excel files I would consider weither to learn using pandas, or use https://xlsxwriter.readthedocs.io/
CaImAn provides the output i

[2018-12-14 11:38] agiovann commented on #421
@tbenst we apologize for problem 1. One of our Dropbox account was closed. For problem 2, just comment the lines that play the movies and inactivate the show_movie or save_movie parameters.

Let us know

PS: teamviewer is another valid alternative!

[2018-12-14 17:48] pgunn commented on #421
@tbenst I have adjusted the hosting of those files to a more stable placement; the first problem is solved if you do a fresh pull/install of the sources.

[2018-12-17 16:22] pgunn commented on #421
@tbenst Hi, I hope this has answered your question/resolved the issues; if you'd like advice on things like VNC, please hop onto our gitter channel:

https://gitter.im/agiovann/Constrained_NMF

[2018-12-17 16:22] #421 closed

[2018-12-17 16:28] #418 closed, assigned to nobody

[2018-12-17 16:53] pgunn commented on #367
Closing this issue to inactivity; please reopen if you're still having issues.

[2018-12-17 16:53] #367 closed

[2018-12-17 16:54] pgunn commented on #409
Some of the upstream issues have been fixed; I think right now the only blocker is that pyqt needs a rebuild. I'm trying to poke the maintainers to do that.

[2018-12-18 04:12] akim5651 commented on #418
Hi @pgunn

I appreciate your help on this issue so far. I have not been able to successfully activate caiman as well as have been having problems with caimanmanager.py.

Running Windows 10, Python 3.7 thru Anaconda (installed as described in the Readme). Upon getting to 'activate caiman' on the python terminal, the prompt abruptly closes. I have tried entering in, "conda install -n caiman vs2017_w

[2018-12-18 07:31] pgunn commented on #418
@akim5651 Hi, can you find and delete vs2015_compiler_vars.bat under your conda dir? It may be a few directories deep.

[2018-12-18 16:15] akim5651 commented on #418
This worked, thank you!

On Tue, Dec 18, 2018 at 2:31 AM Pat Gunn <notifications@github.com> wrote:

[2018-12-18 16:17] akim5651 commented on #358
@pgunn
Thank you for your help thus far - was able to activate the caiman env. I've been stuck with activating the caimanmanager.py file. With the caiman env activated, I have done the "pip install .", and am out of the caiman directory. As directed above, upon inputting 'python caimanmanger.py install', I've been getting:

(caiman) C:\Users\akimi>python caimanmanager.py install
Traceback (most re

[2018-12-18 16:43] pgunn commented on #358
@akim5651
I believe this comes from having mixed conda-forge and default conda packages; we only recently realised that this is a very bad idea (after conversations with Conda developers).

If you do a `conda list` from inside your caiman environment, can you send me the full results? (Putting it on pastebin and sending the link is fine).

[2018-12-18 16:46] akim5651 commented on #358
I see. Sure thing:

`(caiman) C:\Users\akimi>cd caiman

(caiman) C:\Users\akimi\CaImAn>conda list
# packages in environment at C:\Users\akimi\Anaconda3\envs\caiman:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
asn1crypto                0.24.0                py36_1003    conda-forge
astroid

[2018-12-18 16:48] akim5651 commented on #358
I see. Sure thing:

[code]

[2018-12-18 16:50] pgunn commented on #358
@akim5651

Yup, that's a mix of packages from conda-forge (the ones with that name on the right) and from defaults (without, excepting caiman itself).

You can either remove that environment, recreate it from yml, and any tweaks you need to redo can be done with `-c conda-forge --override-channels` or you can go through all the packages that are from defaults and replace them with conda-forge buil

[2018-12-18 19:53] akim5651 commented on #358
@pgunn

Thanks for the explanation. I have tried to remove the environment, recreate it from the yml, getting the same error - is that what you meant by 'complete clean'? (Sorry, I am not well-versed in Python).

I then tried to install a conda-forge version of numpy:

[code]
It looks like it keeps downloading the non conda-forge version.
Would it be possible to use CaImAn without the caimanmanage

[2018-12-18 20:01] pgunn commented on #358
@akim5651
Try this:

```conda install -c conda-forge --override-channels numpy```

[2018-12-18 21:02] akim5651 commented on #358
@pgunn

[code]

And from 'conda list' thereafter:

it shows: (snippet)
...
[code]

[2018-12-20 22:37] akim5651 commented on #291
I have been encountering this error trying to run .avi files (Spyder, OSX, git up-to-date)
This is after loading an avi file labeled: 'msCam1.avi' in the example_movies folder.

INPUT:
[code]
OUTPUT:
[code]
How may I bypass this?

[2018-12-20 23:51] omidm7 commented on #420
Hello, I tried to input the line:

#%% Extract DF/F values
cnm2.estimates.detrend_df_f(quantileMin=8, frames_window=250)

Right after plotting contour plots in the demo_pipeline_cnmfE. I changed 'cnm2' to 'cnm' because I did not need to re-run the cnmf. I got the following error line. Can someone help me interpret it?
Thank you.

![image](https://user-images.githubusercontent.com/44180252/50317147

[2018-12-21 19:56] pgunn commented on #409
This has been fixed upstream with a rebuild of the qt and pyqt packages. I have just successfully made a new environment and it has a working spyder. Thanks to @ccordoba12

[2018-12-21 19:56] #409 closed

[2018-12-21 21:49] HunterTom94 commented on #400
Hello,

The issue is not solved per se, but we found an alternative to go around
it. Thank you for your help!

[2018-12-22 17:39] HagaiHargil opened #423 "CaImAn roadmap?"
Hi,

As you might remember me and my lab have been following, using, publishing with, and (just a tiny bit) contributing to CaImAn for quite a while now, and we're very happy to be a part of the vibrant community around this package.

Many popular open source projects also advertise a roadmap that deals with future plans for the package. The roadmap is sometimes limited to the next stable release,

[2018-12-26 12:39] agiovann commented on #420
@bingcao2 sorry about the delay. You can access it from

cnm2.F_dff

Happy holidays!

[2018-12-26 12:44] agiovann commented on #291
Hello,

if you try

cm.load(avi_file_name).shape

what do you get?

Cheers

Andrea

[2018-12-27 11:10] agiovann commented on #291
try set

dims = np.array(dims)

It seems tuples are not accepted

[2018-12-27 17:50] akim5651 commented on #291
I got this message:
[code]

Could you confirm if I am using the pipeline correctly - in that, I have .avi files, labeled 'msCam1.avi', 'msCam2.avi', etc. (UCLA miniscope recordings). I place these avi files into the 'example_movies' folder in caiman_data folder. And then down the pipeline (using demo_pipeline_cnmfE.py), for starters I would swap in the filename I want to analyze:
`  fnames = ['msC

[2018-12-28 02:15] omidm7 opened #424 "Extracting ∆F/F after cnmfE"
**(macOS)**,
Python **(3.6)**,
 **(Spyder)**

Hello,
After running my one-photon data through the CNMF-E demo pipeline, I'm trying to extract ∆F/F. I used the following line from the general demo pipeline:
    #%% Extract DF/F values
    cnm.estimates.detrend_df_f(quantileMin=8, frames_window=250)

I get the following error:

![image](https://user-images.githubusercontent.com/44180252/50499983-db7

[2018-12-28 15:00] agiovann commented on #291
@akim5651 I apologize for not specifying: you should add it just before

File "/anaconda3/envs/caiman/lib/python3.6/site-packages/caiman/source_extraction/cnmf/utilities.py", line 917, in get_file_size
    dims[0] = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))

it is a hack but it would allow me to see if the issue is simply tuple assignment

Best,

[2018-12-28 20:58] akim5651 commented on #291
Thank you for the detailed instructions. Putting that before line 917, as described, fixed the issue and the code runs without error.
Quick question - How would I be able to analyze multiple videos (e.g. 'msCam1.avi', 'msCam2.avi', and 'msCam3.avi')? For this example, would I place those 3 video files into the caiman_data directory and list those file names in fnames[ ]? Or should I concatenate th

[2018-12-29 12:30] agiovann commented on #291
No troubles. In principle you should just be able to do so by adding the paths of the files into the fnames list, you do not even need to move them.

[2018-12-29 12:31] agiovann commented on #291
Could you please open a Pull Request for the change you just added?

thank you

[2019-01-02 21:00] epnev commented on #398
@HunterTom94 Please let us know if your issue has been resolved.

[2019-01-02 21:08] epnev commented on #424
@omidm7 Extracting DF/F values using the CNMF-E algorithm is not possible with this method. In general we do not recommend extracting DF/F for 1p data (which is what CNMF-E is being used for) because the background contains signal from multiple sources due to the large integration volume. The error you are observing is because the background in 1p data is not being represented in the same way as i

[2019-01-02 21:48] epnev commented on #420
@bingcao2 To correct the comment above: the DF/F values are in `cnm2.estimates.F_dff`
If you want to save them in a separate variable you can simply type `F_dff = cnm2.estimates.F_dff.copy()`
Every row of `F_dff` will correspond to a component and every column to a timestep.
I believe that your issue is addressed and I'm closing it but feel free to re-open if you still have questions.

[2019-01-02 21:48] #420 closed

[2019-01-04 22:33] omidm7 commented on #424
@epnev Thanks for the clarification! As a followup, after CNMF-E, does the temporal data in estimates.C already account for estimates.b0? Or should I subtract the baseline values?

[2019-01-07 14:53] MaximilianHoffmann commented on #415
Is segmentation in patches fully implemented for 3d data?

[2019-01-07 16:32] epnev commented on #415
@MaximilianHoffmann Processing in patches is implemented in 3d. For component evaluation the CNN classifier has been trained only on 2d data and will not work on 3d data (you could try a max projection along z of each 3d spatial component and then feed that into your classifier but no guarantees that will be useful). The other two tests will run with 3d data but adjustment of the thresholds might

[2019-01-07 16:33] epnev commented on #398
@HunterTom94 Closing due to inactivity but feel free to reopen if you're still facing this issue.

[2019-01-07 16:33] #398 closed

[2019-01-07 16:55] epnev commented on #419
@MaximilianHoffman I'm not sure I understand what the problem is. The code is complicated but it works fine. I'm closing this but feel free to reopen and provide more details.

[2019-01-07 16:55] #419 closed

[2019-01-07 17:15] epnev commented on #424
@omidm7
- `estimates.b0` refers to the overall background baseline and does not need to be subtracted from `estimates.C`.
- `estimates.C` should be interpreted as an estimate of the fluorescence trace of the corresponding component up to a linear transformation. As such it is in absolute units. We cannot get exact units for `estimates.C` because (among other reasons) the spatiotemporal fluorescenc

[2019-01-07 17:15] #424 closed

[2019-01-07 19:02] tbenst opened #425 "pw_rigid fails in demo motion correction notebook"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Jupyter notebook on Ubuntu 18.04

- **Describe the issue that you are experiencing**
When I run the demo_motion_correction notebook, rigid works but non-rigid fails with the following output:
[code]

I have installed caiman using the conda environment.yml f

[2019-01-07 19:24] epnev commented on #425
@tbenst I wan't able to reproduce this error on a mac. From a quick google search the error looks like two variables are represented in different formats. If you run the demo_pipeline notebook, does the motion correction step go through or you get the same error?

@pgunn Does the demo_motion_correction notebook run without errors on linux?

[2019-01-07 21:46] pgunn commented on #425
@epnev Yes, it runs fine on Linux. I removed and remade my env to test this.

[2019-01-07 21:50] tbenst commented on #425
@epnev I can confirm that the same issue applies to demo_pipeline notebook. I have now tested on both Ubuntu and NixOS, and get the same errors on both.

[2019-01-07 21:54] tbenst commented on #425
@pgunn, I presume you have opencv installed from conda via the environment.yml file? Here are my packages:

[code]

[2019-01-07 21:57] epnev commented on #425
@tbenst Thanks. We'll look into it.
@pgunn does anything look suspicious in this environment?

[2019-01-07 22:41] pgunn commented on #425
@tbenst That's interesting. The environment I built ends up with a newer version of opencv. I'm puzzled why.

[code]

[2019-01-07 22:43] pgunn commented on #425
@tbenst Sorry for asking this so late; what branch are you on? Apart from python, is anything pinned in your environment.yml?

[2019-01-07 22:43] tbenst commented on #425
@pgunn I'm on master, where https://github.com/flatironinstitute/CaImAn/blob/master/environment.yml pins opencv=3.2. Will try 3.4, thanks!

[2019-01-07 22:46] pgunn commented on #425
Ah, that's probably why. I'm on the dev branch. I've unpinned almost everything on that branch but we haven't merged that change back into master yet. Be very careful that if you install 3.4, you don't pull in packages from the default channel ; that's a swift (and sadly very easy) path to a lot of pain in conda.

[2019-01-07 22:56] tbenst commented on #425
Happy to report that OpenCV 3.4 fixes the issue! Opened a pull request to update environment.yml.

[2019-01-07 22:56] #425 closed

[2019-01-08 04:42] tbenst opened #427 "cnm2.save fails"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Linux jupyter

- **Describe the issue that you are experiencing**

Running the demo pipeline notebook on example data works fine, but when using my own tiff file I get this error:
[code]

My tiffs are of dtype uint16 if that is relevant--seems like the exa

[2019-01-08 14:22] agiovann commented on #427
@tbenst could you please paste the full log and not only the error? I need to understand what is the value of "key" and "item" variable. If you can debug that it would help me understand the problem

Thank you

[2019-01-09 05:40] tbenst commented on #427
Hi @agiovann, that is the full output from `cnm2.save(fn)`. I'm not sure what key and value are failing. The relevant line in CaImAn is https://github.com/flatironinstitute/CaImAn/blob/c156373de01a9609d56713b9ed5c754222d2ec8c/caiman/utils/utils.py#L425
Here's the notebook's captured output from during the motion correction + CNMF run itself: https://gist.github.com/tbenst/34426a2c35f71269682f6317c

[2019-01-09 06:45] tbenst opened #429 "detrend_df_f"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Linux Jupyter

- **Describe the issue that you are experiencing**

After `cnm2.estimates.evaluate_components` suceeds in demo_pipeline, on about 50% of my zplanes, `cnm2.estimates.detrend_df_f(quantileMin=8, frames_window=250)` fails deterministically. The

[2019-01-09 07:32] HagaiHargil commented on #423
@epnev Thanks for your thoughtful response. I agree that the model you described is a good alternative.

As for specific requests, our main interests are as follows:

- We've  been using a couple of post-processing scripts for quite some time now to serialize CaImAn's output, since in most notebooks\scripts I believe that CaImAn doesn't save anything to disk, but merely displays the results and ke

[2019-01-09 12:09] agiovann commented on #427
Dear @tbenst ,

I cannot see the failure in the log you sent me for some reason. Did you paste all of it?

[2019-01-09 14:20] epnev commented on #429
@tbenst In one of the planes where this fails can you check whether there are NaN values in `estimates.A, estimates.C, estimates.b, estimates.f`?

[2019-01-09 17:06] tbenst commented on #429
@epnev I can confirm that there are no NaN values in any of those 4.

[2019-01-09 17:11] tbenst commented on #427
@agiovann that's all of it. Logging appears to work properly as https://gist.github.com/tbenst/0d8d3d0ca493c612e1e0f875fa3d6d5b#file-cnmf-debug-log-L5916 to https://gist.github.com/tbenst/0d8d3d0ca493c612e1e0f875fa3d6d5b#file-cnmf-debug-log-L5933 display the INFO level output. Note that only certain keys trigger logging per CaImAn source:

[code]

[2019-01-10 00:21] kareemcheese96 opened #431 "OpenCV Error"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-01-10 00:33] pgunn commented on #431
Hi,
Can you send us the output of `conda list` from your caiman environment?

[2019-01-10 00:34] pgunn commented on #431
Hi,
Can you send us the output of `conda list` from inside your caiman environment?

[2019-01-10 00:38] kareemcheese96 commented on #431
Yes, here is the output.
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.11                   py37_0
anaconda                  5.3.0                    py37_0
anaconda-client           1.7.2                    py37_0
anaconda-navigator        1.9.2                    py37_0
anaconda-project          0.8.2                    py37_0
appdirs                   1

[2019-01-10 17:02] pgunn commented on #431
Hi,
It looks like you ended up with an environment that mixes packages from the conda-forge and the defaults channel. We (very recently) discovered through conversations with the Anaconda developers that this often results in problems like what you saw.

We're going to land this in master soon (I think); right now if you don't mind deleting your current caiman environment and making a new one base

[2019-01-10 17:40] kareemcheese96 commented on #431
Hello,
I deleted my caiman environment and made a new one based on environment.yml, but now when I type in "activate caiman" on conda, it gives a message that says "The system cannot find the path specified". Subsequently, when I try to import caiman as cm in spyder, I get a message that says "ModuleNotFoundError: No module named 'caiman'"

Thank you for your help

[2019-01-10 19:32] epnev commented on #429
@tbenst I've never encountered this error before and it occurs on a function I didn't implement so I'm a bit confused. Can you try running `cnm2.estimates.detrend_df_f` but also setting the optional argument `flag_auto=False`?

[2019-01-10 20:41] tbenst commented on #429
@epnev I will try but may take me a few days before I can run CaImAn again. FYI, these same planes run fine on an older version of CaImAn that someone else in lab had installed, but not on the latest. Were you able to reproduce the error in the code I posted?

[2019-01-10 20:45] epnev commented on #429
@tbenst Thanks. Yes, I was able to reproduce and pretty much suggested to roll back to the previous version of this function, until I figure out how to fix this. Will take a closer look.

[2019-01-10 20:47] tbenst commented on #429
oh great, thank you!

[2019-01-11 16:11] epnev commented on #429
@tbenst The `kde` function fails in a way that I don't understand. However I believe that it has to do with the vector being somewhat short. I introduced a workaround in the detrending function that doubles the length of the vector by appending a copy if the kde function fails (the estimate will be the same since the histogram does not change by introducing a copy of the data). https://github.com/

[2019-01-11 17:49] kareemcheese96 commented on #431
Ok, I have reinstalled caiman with pip. I am now getting a RuntimeError that says:

RuntimeError: module compiled against API version 0xc but this version of numpy is 0xb

[2019-01-11 17:55] kareemcheese96 commented on #431
Ok, I have reinstalled caiman with pip, but I am still getting an error at that point of the motion correct. The error is as follows:

res = cv2.matchTemplate(frame, template, cv2.TM_CCORR_NORMED)

error: C:\bld\opencv_1498174012660\work\opencv-3.2.0\modules\imgproc\src\templmatch.cpp:664: error: (-215) corrsize.height <= img.rows + templ.rows - 1 && corrsize.width <= img.cols + templ.cols - 1 in

[2019-01-11 18:46] pgunn commented on #431
Can you again send me the `conda list` output? I want to make sure it's a pure conda-forge environment.

[2019-01-11 20:22] kareemcheese96 commented on #431
Yes of course. Here is the output from the caiman environment:

# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
asn1crypto                0.24.0                py36_1003    conda-forge
astroid                   2.1.0                 py36_1000    conda-forge
attrs                     18.2.0

[2019-01-11 21:04] pgunn commented on #431
That's still somehow a mixed environment. If you can look through each of those packages that doesn't end in conda-forge (except caiman) and do the following:

`conda install -c conda-forge --override-channels PACKAGENAME`

that should help you fix the environment and should probably clear up the issue. Be sure to do this for numpy, which you somehow have installed twice (neither of them is a cond

[2019-01-11 23:18] kareemcheese96 commented on #431
I tried doing that, but I got the same error. I checked conda list and those packages still did not end in conda-forge.

I was getting the following message from anaconda for all the packages:

(caiman) C:\Users\SvendsenLab> conda install -c conda-forge --override-channels numpy 1.15.4
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channel

[2019-01-14 17:38] kareemcheese96 commented on #431
For some reason when I did that, it worked and added the conda-forge to the first three packages I did but not for any of the packages I tried after that (including numpy). I opened and closed anaconda, and I tried restarting the computer, but it still did not work for those packages when I checked the conda list in the caiman environment.

[2019-01-14 17:40] pgunn commented on #431
Can you paste the part of `conda list` describing that package and the transcript of your attempt to replace it with conda-forge versions?

[2019-01-14 17:56] kareemcheese96 commented on #431
Yes of course. This is the transcript of the attempt for numpy:

(caiman) C:\Users\SvendsenLab> conda install -c conda-forge --override-channels numpy
Solving environment: done

# All requested packages already installed.

(caiman) C:\Users\SvendsenLab>set KERAS_BACKEND=

(caiman) C:\Users\SvendsenLab>set "KERAS_BACKEND=theano"

(caiman) C:\Users\SvendsenLab>SET DISTUTILS_USE_SDK=1

(caiman) C:\Us

[2019-01-14 17:57] pgunn commented on #431
Aha. Ok, try adding the `--force` flag

[2019-01-14 17:57] kareemcheese96 commented on #431
Here is the conda list. blas, ca-certificates, and certifi were the ones that worked.

# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
asn1crypto                0.24.0                py36_1003    conda-forge
astroid                   2.1.0                 py36_1000    conda-forge
attrs                     1

[2019-01-14 17:59] kareemcheese96 commented on #431
Do I add that after --override-channels?

[2019-01-14 18:00] pgunn commented on #431
Yes.

(If you want to chat here we can probably resolve this faster: https://gitter.im/agiovann/Constrained_NMF )

[2019-01-16 19:14] hluetck commented on #431
I am also seeing the original error:
templmatch.cpp:664: error: (-215) corrsize.height <= img.rows + templ.rows - 1 && corrsize.width <= img.cols + templ.cols - 1 in function crossCorr

I believe it could be due to a potential bug in motion_correction.py:
[code]

Should it not be:
[code]

In `movies.py` we have:
[code]

This can lead to templates with dim=0 in one dimensions if the width and heigh

[2019-01-17 15:24] PhilippBartel opened #433 "Latest update, crash on activating caiman env"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Windows10, Python 3.6, Anaconda, Jupyter Notebook / Lab

- **Describe the issue that you are experiencing**
Updated to the latest caiman following the instructions; since then any attempt to activate the caiman environment results in a crash from the anacon

[2019-01-17 15:32] pgunn commented on #433
Hi,
Could you cut'n'paste the precise crash text?

[2019-01-17 15:37] PhilippBartel commented on #433
Hi, thank you for your quick response.
Trying to reinstall again, will let you know.

[2019-01-17 15:54] PhilippBartel commented on #433
I am not logging the anaconda prompt; don't know of a good way to do that. On crash I cannot copy the text since it closes the prompt.
I know Im not making it easier, what do you suggest?

[2019-01-17 16:46] pgunn commented on #433
One thing you might try: In the conda install dir, look for and delete this file:

vs2015_compiler_vars.bat

If it is what I think it is (admittedly just a guess based on past experience), that will solve the issue.

[2019-01-22 11:21] PhilippBartel commented on #433
I traced the problem back to messed up Microsoft Visual Studio. Everything worked after VS was modified.
Thank you for your help!

[2019-01-22 11:21] #433 closed

[2019-01-22 19:45] epnev commented on #431
@hluetck sorry, just saw your comment. What are the dimensions of your FOV? Are you trying rigid or non-rigid motion correction?

[2019-01-22 22:51] omidm7 commented on #410
Hi, I'm having the same issue as @kareemcheese96 . Can you explain what you mean by "copy caimanmanager.py outside the caiman folder, and run it there." I tried moving the .py file and running caimanmanager.py install from the terminal and I still get the oasis error. Sorry, I am very new at this.

[2019-01-22 22:59] pgunn commented on #410
@omidm7 Do you mind making a new issue for this? I don't want to bother kareemcheese96 with the conversation. Happy to help you though!

[2019-01-23 16:40] kareemcheese96 commented on #431
Also, I am doing rigid motion correct

[2019-01-23 17:36] epnev commented on #431
@hluetck You're probably right about this bug in `motion_correction.py`. Thanks, I'll dig in a bit deeper into this. However I'm having a hard time seeing how this could fix the error (especially during rigid motion correction) since by default we use the same value for `max_shifts` along both dimensions.

Does this fix it for you? Do you use different values along the dimensions?

[2019-01-23 17:56] omidm7 opened #435 "Cannot import name 'oasis'"
Operating system: macOS,
Python version (3.6),
 and working environment (Spyder)

Hello, after upgrading Caiman and running caimanmanager.py install in the terminal, I see a file directory 'Caiman' with the file caimanmanager.py in it and another directory called "Caiman data" as described in the installation instructions. However, I get the following error upon trying to import caiman:

- **Copy

[2019-01-23 18:22] kareemcheese96 commented on #431
@epnev I tried 2 different video files. One of them is 5580 frames, and the other is 7200 frames. Both had the same error

[2019-01-23 19:22] epnev commented on #435
@omidm7  Did you run the pip install command during the installation?

[2019-01-23 19:39] epnev commented on #431
@kareemcheese96 Does the change that @hluetck suggest above solve the error?
If you use the `pip install .` option, you will need to run `pip uninstall caiman` and then `pip install .` for it to take effect.

[2019-01-23 19:54] omidm7 commented on #435
@epnev Yes!

[2019-01-23 19:59] kareemcheese96 commented on #431
@epnev I just tried it. I still got the same error as before

[2019-01-23 20:00] pgunn commented on #431
Eftychios: FYI, we made sure his environment is correct, and the demos run fine. This looks like it's just happening with his data.

[2019-01-23 20:16] omidm7 commented on #435
Hey. I'm running demo_pipeline_cnmfE.py on Spyder (Python 3.6).

[2019-01-23 20:40] pgunn commented on #435
Sounds good; what's the path to that script when you're running it, and from what directory are you launching Spyder?

[2019-01-23 20:45] omidm7 commented on #435
The script is in the path: /Users/omid/CaImAn/demos/general.
And I am launching Spyder from the anaconda caiman environment I created.
I got the whole thing to work on my laptop, but can't get it to run on the desktop. Both are iOS, python 3.6.

[2019-01-23 20:46] j-friedrich commented on #435
Maybe oasis didn't properly compile. Can you check whether there is a file oasis.cpython-36m-darwin.so (or a similarly named *.so file) in directory caiman/source_extraction/cnmf/?

[2019-01-23 20:49] omidm7 commented on #435
Hi, I don't see any .so files in that directory.
![image](https://user-images.githubusercontent.com/44180252/51636085-36723100-1f0d-11e9-8c90-57ab954694ab.png)

[2019-01-23 21:02] pgunn commented on #435
Hi,
So after you install caiman with pip, you will want to use the caimanmanager.py script to make a working directory, and then use that working directory rather than working in the sources.

[2019-01-23 21:12] j-friedrich commented on #435
You can create the oasis.so file by running `python setup.py build_ext -i` within the CaImAn directory.

[2019-01-23 21:20] omidm7 commented on #435
@pgunn , even when I run the caimanmanager.py script by itself, I get the oasis error.
![image](https://user-images.githubusercontent.com/44180252/51637826-9ec31180-1f11-11e9-968e-3ea5f607786d.png)

[2019-01-23 21:22] omidm7 commented on #435
@j-friedrich , that line gives me the following error:
![image](https://user-images.githubusercontent.com/44180252/51637943-ed70ab80-1f11-11e9-8c44-09d376c7cf9c.png)

[2019-01-23 21:36] omidm7 commented on #435
@pgunn , No matter where I copy and paste that caimanmanager.py file, and whichever directory I use to open it, I still get the oasis error.

[2019-01-23 21:38] omidm7 commented on #435
@j-friedrich , That seems to have fixed it.

Thank you both very much for your time, it is much appreciated!
Omid

[2019-01-23 21:38] #435 closed

[2019-01-24 13:03] mowe91 opened #436 "Save memmaps in uint16 to reduce memory use"
Hi,

As far as I can tell, the save_memmap function converts uint16 input files into float32. This blows up in memory. Would it be possible to save uint16 files to uint16 memory maps, and then do the float conversion piece-wise when loading parts of the memory map? Now I'm forced to downsample my files just so I they can be memory mapped.

Regards,

Moritz

[2019-01-24 14:57] epnev commented on #436
@mowe91 Yes and no.

In principle it could be done but it would require substantial work to ensure that all places are covered. If you're interested in contributing for this we can talk more.

But there is also another caveat. Subpixel motion correction will invariably result in files with non integer values. Converting these back into uint16 will result in some loss of precision although one can

[2019-01-24 15:51] epnev commented on #431
@kareemcheese96 I will need to look at the data. Can you truncate your file in the smallest number of frames where the error still appears and send it over? 5580 x 800 x 800 is way too large.

[2019-01-24 18:47] kareemcheese96 commented on #431
@epnev Yes no problem. Would you like me to decrease the FOV as well? Because the file size is still quite large after truncation

[2019-01-24 19:09] pgunn commented on #431
So long as it exhibits the problem, it'll help us figure out how to solve it.

[2019-01-24 21:51] kareemcheese96 commented on #431
It seems like the smallest size file that generates the error is around 4GB. Could this be a Tiff issue?
I have attached a link to the file
https://cedars.box.com/s/25bhe72njdjyul9tj4qbi77o51ular4y

[2019-01-25 12:37] hluetck commented on #431
Sorry for the late reply, I have been away.

If I change motion_correction.py as shown above, the error disappears. I am running rigid correction and the dimensions are 508x84. Because the dimensions are so unequal, I use different values for `max_shifts` along the different dimensions.

[2019-01-25 14:47] epnev commented on #431
Thanks @hluetck I fixed this bug.

[2019-01-25 19:33] epnev commented on #431
@kareemcheese96 I'm pretty sure that the problem is being generated because the tiff file is larger than 4GB. We've talked about this in the past in #377 and #384
As mentioned there you should make sure that your tiff files are multipage and Fiji/ImageJ will automatically save a tiff file larger than 4GB as a single page tiff file.

Right now the motion correction will go through only if turn off

[2019-01-25 19:51] kareemcheese96 commented on #431
@epnev Yes, that's what I was thinking as well. We're going to spend time on our end getting the tiff files to be saved as multipage. Thank you very much for your time, I greatly appreciate it.

[2019-01-25 20:01] epnev commented on #431
@kareemcheese96 If you're using imagej/fiji just make sure the file size is less than 4GB. Then it should be done automatically.

[2019-01-25 20:01] #431 closed

[2019-01-26 14:28] ghost opened #437 "question on installing Microsoft Build Tools for Visual Studio 2017,"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-01-28 06:24] #437 closed, assigned to nobody

[2019-01-28 16:55] epnev commented on #431
@kareemcheese96 HDF5/H5 files handle large size better but you can still use TIFFs. Just save them more often in smaller files. I wrote a short note [here](https://github.com/flatironinstitute/CaImAn/wiki/On-file-types-and-sizes).

[2019-01-28 23:41] kareemcheese96 commented on #431
Thank you very much for your help @epnev and @pgunn, that has fully solved the issue

[2019-01-29 18:05] yuhany1024 opened #438 "errors when import caiman: Failed to load module "atk-bridge""
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-01-29 18:20] #438 closed

[2019-01-29 18:49] rem7101 opened #439 "macOS Mojave 10.14.2 installation issue"
- **Describe the issue that you are experiencing**
Hello, I am new to Python and am trying to install CaImAn on a MacOS Mojave 10.14.2 system. I received an error similar to issue #412, but trying the fix suggested in that string did not fix my problem. Please find the error string below and thank you for the help.

- **Copy error log below**
macbook-pro:CaImAn ninja7101$ source activate caiman
(c

[2019-01-29 18:52] epnev commented on #436
@mowe91 I'm closing this issue due to inactivity but feel free to reach out if you want to talk more.

[2019-01-29 18:52] #436 closed

[2019-01-29 19:11] pgunn commented on #439
Hi,
As far as I can tell this relates to the version of the XCode command line tools you have installed; could you try upgrading that component and giving it another go?

(I think you can do this through the GUI or by issuing the `xcode-select --install` command from the terminal)

[2019-01-29 19:36] pgunn commented on #439
I've been reading up on this - apparently Mojave broke compile toolchains for a lot of packages.

This thread:
https://stackoverflow.com/questions/52509602/cant-compile-c-program-on-a-mac-after-upgrade-to-mojave

goes deep into the issue. It suggests this might be a solution:

```open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg```

Give that a go and let us k

[2019-01-29 19:53] rem7101 commented on #439
Thanks,
In case it is helpful, here is the XCode page where it explains the issue:
[https://developer.apple.com/documentation/xcode_release_notes/xcode_10_release_notes]
Here they suggest ' To make sure that you're using the intended version of the command line tools, run xcode-select -s <path to Xcode> or xcode select -s /Library/Developer/CommandLineTools after installing.' after installing the

[2019-01-29 20:21] pgunn commented on #439
Hm. Did the open command itself give you an error or did it do nothing?

[2019-01-29 20:32] yuhany1024 opened #440 "issue of motion correction in demo_pipeline"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-01-29 20:40] rem7101 commented on #439
The open command worked - it brought up a standard gui installer window - all the steps seemed to complete ok.

[2019-01-29 20:59] pgunn commented on #439
We're going to locally upgrade one of our systems to the new OS version to figure this out; it may take us a bit. Hopefully it won't be too long before we can get back to you.

[2019-01-29 21:05] epnev commented on #440
@yuhany1024 This is not an error, is just a logging message. The file is actually saved as a memory mapped file in the location specified by `mc.fname_tot_els`. Using the notebook notation you can simply type the following to save your movie in a different format:
[code]
This will save the movie as a TIFF file with the name you're giving it.

[2019-01-29 21:05] #440 closed

[2019-01-29 21:55] rem7101 commented on #439
Ok - thank you for the help.

[2019-01-30 12:51] DaveMcBrave commented on #186
Hi,

is the distribution via docker hub still on the roadmap? This would be much appreated, as we want to use it on HPC.

Thanks!

[2019-01-30 14:11] epnev commented on #186
@agiovann @pgunn any updates on this?

[2019-01-30 15:31] agiovann commented on #186
@pgunn are we still using docker for testing purposes, at least in linux. If so, we just need to point to the right docker file

[2019-01-30 16:14] pgunn commented on #186
We are, but largely just as a container for our standard install process, for isolation. Docker there doesn't automate the entire thing.

The dockerfile we have in the repo is unmaintained and almost certainly doesn't work. If we wanted to provide a standard way to use Caiman with docker again (where the docker script sets things up) we'd need to start that basically from scratch.

We should chat

[2019-01-30 21:02] epnev commented on #439
@rem7101 Running `CFLAGS='-libstd=libc++' pip install .` (or `pip install -e .` depending on your preference) seems to fix the issue. Can you confirm? We're also testing this and will update the installer file accordingly.

[2019-01-30 21:08] rem7101 commented on #439
Hi - thanks - just to make sure I understand before running in terminal:
Should I run `CFLAGS='-libstd=libc++' pip install .` within my caiman environment on conda?

[2019-01-30 21:09] pgunn commented on #439
@rem7101
Yes. Give that a go.

[2019-01-30 21:13] rem7101 commented on #439
Ok - it did not seem to work for me:

MacBook-Pro:~ ninja7101$ source activate caiman
(caiman) MacBook-Pro:~ ninja7101$ CFLAGS='-libstd=libc++' pip install .
Directory '.' is not installable. Neither 'setup.py' nor 'pyproject.toml' found.

[2019-01-30 21:15] pgunn commented on #439
You're going to want to do this in your caiman source directory (pip looks in the current directory for a setup.py)

[2019-01-30 21:16] pgunn commented on #439
Testing #441 to make sure it doesn't break other platforms

[2019-01-30 21:27] mschachter opened #442 "tiling artifacts in cell map"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
OS: Linux CENTOS 7
Python Version: 3.6

- **Describe the issue that you are experiencing**
Cell images contain artifacts from patch mode. When the cell images are normalized by their maximum, and a cell map is constructed by adding all of the normalized cel

[2019-01-30 21:45] j-friedrich commented on #439
Can you please try `CFLAGS='-stdlib=libc++' pip install .`
i.e. stdlib instead libstd

[2019-01-30 21:51] rem7101 commented on #439
I think it worked that time - just as an fyi, this was the same environment where I ran the `open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` yesterday. I will try running the demo file later today. Thanks!
Please find the terminal read-out below:

MacBook-Pro:~ ninja7101$ cd CaImAn/
MacBook-Pro:CaImAn ninja7101$ source activate caiman
(caiman) MacBook-Pro:C

[2019-01-30 23:15] epnev commented on #442
@mschachter Does the tiling match the breaking up in patches?

[2019-01-30 23:19] mschachter commented on #442
Yes, sorry for not being more specific. The patch size is 50 pixels by 50 pixels, with a stride of 6 pixels.

[2019-01-30 23:35] pgunn commented on #439
Fixed in dev with 441.

[2019-01-30 23:35] #439 closed

[2019-01-31 00:54] epnev commented on #439
@pgunn I'll do some testing and merge with master tomorrow.

[2019-01-31 17:18] epnev commented on #442
What is the value of `cnm.skip_refinement`? If it's to `True` then this might happen because the algorithm will skip updating the components after the patch processing is done (although I'm not sure this is the issue).

@j-friedrich @agiovann Any ideas?

[2019-01-31 17:38] paulklemm commented on #186
We would benefit quite a lot from a maintained docker file, since we can use it with singularity on our HPC cluster. This makes it easy to have every node on the cluster running identical environments, makes parallelized computing way easier.

[2019-01-31 17:44] pgunn commented on #186
@paulklemm We're chatting over future plans and docker has come up; in the meantime you may be able to extract the information you need from the Jenkinsfile in the repo (which in our setup is used to build a dockerfile on-the-fly in CI). I can't promise how soon we'll have a working Dockerfile for general use, but I hope this is at least helpful.

[2019-01-31 21:55] mschachter commented on #442
I'll check it out, thanks! It's probably set to True.

[2019-02-01 18:58] epnev commented on #427
@tbenst @agiovann This might have been fixed with #444. Try it out when you have a chance.

[2019-02-04 15:50] mowe91 opened #447 "register_ROIs shape broadcasting error"
I tried and failed to use the register_ROIs function in base/rois.py. It gave me a shape broadcasting error. I noticed that reversing the dimensions (dims) argument, I could get it to work, but the output registered ROIs looked scrambled/transposed.

Long story short, I could get the function to work by changing:

[code]

to

[code]

I reasoned the x dimension of the image is axis 1 in the matrix,

[2019-02-04 15:53] mowe91 commented on #436
Hey, sorry for not getting back to you. I don't think I'm the person to help with this, unfortunately. I'll have a look if I can use the online algorithm. Thanks!

[2019-02-04 18:36] epnev commented on #447
@mowe91 I just tried out the `register_ROIs` function on a non-square FOV and it worked without any problems. I'm wondering whether when you call it you pass the matrices of spatial components in a different form. Do these come from `estimates` objects?

[2019-02-04 20:02] mowe91 commented on #447
@epnev Well... I saved estimates.A to an hdf5 file, also casting it into a dense array, like so:
[code]
Since my FOVs were differently cropped, I reshaped, padded, and "re-reshaped" the padded As, and finally ran the registration:
[code]
(Some of this is lifted from one of the eLife Figure scripts in the repository.)

After making the change I described above, this worked (and the results look sen

[2019-02-04 22:12] epnev commented on #447
@mowe91 Yes, the order with which you save the `A` matrices is important. I'll look into whether saving causes any problems. Thanks!

[2019-02-04 22:12] #447 closed

[2019-02-05 14:43] epnev commented on #447
@mowe91 After looking at this a bit more I don't think it's the saving that causes the problem but the cropping/reshaping/padding. You'll need to make sure that this is done in order `F` as also shown in the snippet above. However, the save function works fine with sparse arrays so you don't need to go through this to save space.

[2019-02-08 20:14] wmau opened #448 "Error at save_memmap"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Hi, I am using Windows 10, Python 3.6.6 in Spyder.

- **Describe the issue that you are experiencing**
After running motion correction on a list of tifs, I'm getting an error from save_memmap, which I've copied below. Please let me know how I can fix this i

[2019-02-11 12:29] PhilippBartel opened #449 "Incredibly slow performance following update"
Following a successful update to the latest version of CaImAn, CaImAn slowed down very considerably. Everything, including rigid motion correction, takes tens of minutes where previously the same routines ran much quicker.
Where should I look to debug this and gain the speed back?

[2019-02-11 13:31] epnev commented on #448
@pgunn could this be related to the int32/int64 issues we were saying with memory mapping in windows?

[2019-02-11 13:32] epnev commented on #449
@PhilippBartel Please close this issue and open a new one following the template.

[2019-02-11 13:42] #449 closed

[2019-02-11 13:44] PhilippBartel opened #450 "Very slow performance following CaImAn update"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Windows10, Python3.6 (Anaconda Distribution), Jupyter Notebook

- **Describe the issue that you are experiencing**
Following a successful update to the latest version of CaImAn, CaImAn slowed down very considerably. Everything, including rigid motion correc

[2019-02-11 15:56] pgunn commented on #450
Hi,
How did you perform the install? Did you make a new Conda environment? Did anything else change in your configuration at the same time?

[2019-02-11 16:06] pgunn commented on #448
@wmau Can you give us more of the log? There are some things not included in this error log that would help us figure out what's going on.

@epnev Possibly - either way, I'd like to rework some of the logging here to make it more obvious what's failing in that conditional block. The overflow reported when multiplying out

idx_end * Yr_tot.dtype.itemsize * tot_frames

is the problem ; it's possible

[2019-02-11 16:08] PhilippBartel commented on #450
Hi,

I have done the following:
1. Uninstalled previous Anaconda/Python and caiman
2. Downloaded the CLI tools for VS2017
3. Downloaded the latest Python 3.6 Anaconda installer and checked the PATH management (as recommended)
4. Then followed the installation procedures (including creation of a new caiman-specific environment)
5. Before creating the caiman environment I installed pytorch in the ba

[2019-02-11 16:10] pgunn commented on #186
@paulklemm Hi,
I have an early Dockerfile that might do the job for you. Given that whatever you're doing in the cluster will require you to customise the dockerfile anyhow, I feel comfortable giving it to you in this very early undertested state:

[code]

(any feedback on this is welcome - some variant of this will make its way into dev sometime soonish. Note that this does not set environment va

[2019-02-11 16:15] pgunn commented on #450
It should not have been necessary to uninstall Anaconda itself (just deleting the caiman environment would have been sufficient). Likewise, reinstalling Visual Studio should be unharmful but unnecessary.

I don't understand what you mean in step 6a - can you elaborate on that a bit?

Are you comparing performance using our test data or your data?

[2019-02-11 16:30] PhilippBartel commented on #450
I had some trouble updating and decided to simply reinstall everything :D
6.a. There was a copy of caimanmanager.py in the users/username/CaImAn/ folder and it was being executed when I followed the instructions. Trying to execute it gave an error about not finding oasis.
So I ran the C:/users/username/Anaconda3/envs/caiman/bin/caimanmanager.py instead and it all worked.

I have run comparisons wi

[2019-02-11 16:31] pgunn commented on #450
Hi,
Another developer on a Mac let me know that he's been seeing performance issues as well with a recent upgrade; we're going to need to look into this. We'll update this ticket as soon as we have more info.

--Pat

[2019-02-11 16:32] PhilippBartel commented on #450
Great, thank you!

[2019-02-11 16:37] wmau commented on #448
Hi @pgunn, sorry I copied everything I thought was relevant. Here's the complete message that appears when the cell I run fails:
L:\Python\envs\caiman\lib\site-packages\caiman\base\movies.py:258: UserWarning: ** Pixel averages are too negative. Removing 1 percentile. **
  '** Pixel averages are too negative. Removing 1 percentile. **')
L:\Python\envs\caiman\lib\site-packages\caiman\base\movies.py:

[2019-02-11 17:02] pgunn commented on #448
@wmau Hi, If you're up for a bit of adventure, the PR I made above has a revised version of mmapping.py that may solve the issue; you'd download this over your existing mmapping in your source tree and then redo a pip install of caiman.

At very least it'd make the errors you're getting a little more clear.

[2019-02-11 18:13] wmau commented on #448
@pgunn Now I am getting a type error. Looks like the seek() method doesn't like uint64s?

L:\Python\envs\caiman\lib\site-packages\caiman\base\movies.py:258: UserWarning: ** Pixel averages are too negative. Removing 1 percentile. **
  '** Pixel averages are too negative. Removing 1 percentile. **')
L:\Python\envs\caiman\lib\site-packages\caiman\base\movies.py:277: UserWarning: Pixel averages are to

[2019-02-11 18:21] wmau commented on #448
@pgunn I replaced np.uint64(Yr_tot.dtype.itemsize) with int(Yr_tot.dtype.itemsize) and this appears to have resolved the issue.

[2019-02-11 18:26] pgunn commented on #448
That's surprising; I'll adjust my fix, but there's a chance this is a deeper bug in numpy.

[2019-02-11 18:30] wmau commented on #448
Thanks for helping me get to the bottom of this! Running CNMF-E now!

[2019-02-11 18:30] pgunn opened #452 "Feature Request: Unit test for mmapping"
This is a low-priority feature request (that I might do myself at some later time):

Write nosetests that exercise the mmapping functionality thoroughly, looking particularly for boundary conditions, overflows, and the like.

[2019-02-11 18:33] pgunn commented on #186
@DaveMcBrave ^^

[2019-02-11 18:33] wmau commented on #450
I'm not sure if this is related, but I get severe performance issues when I run a script in Spyder versus when I serially execute cells of code, particularly at the motion correction step.

[2019-02-11 18:53] epnev commented on #450
@wmau Do you mean that running things in spyder is slower compared to running from the command prompt?

[2019-02-11 19:01] wmau commented on #450
@pgunn Sorry, I mean that when I hit Run File (runfile('SCRIPT_NAME.py')) is slower than running cell blocks one by one, both in Spyder.

[2019-02-11 19:09] pgunn commented on #448
Fix is merged into dev (will eventually make its way into master)

[2019-02-11 19:09] #448 closed

[2019-02-12 21:22] epnev commented on #450
@PhilippBartel @wmau What do you get if you type in your command prompt (inside your environment)
[code]
?

[2019-02-12 21:29] wmau commented on #450
![image](https://user-images.githubusercontent.com/12157943/52669148-5f219100-2ee3-11e9-90d4-256dd1f1a0da.png)

[2019-02-12 21:36] epnev commented on #450
@wmau Thanks. We think that downgrading `ipykernel` should resolve the issue. See for example [here](https://github.com/spyder-ide/spyder/issues/7049). Unfortunately, a new environment will likely need to be created. I made the changes in the environment file with 1f5b22f0d50f82dfc359ac2aea8278b338536143 and will merge into the master branch tomorrow.

[2019-02-12 21:47] PhilippBartel commented on #450
I'm currently not at the workstation but I will let you know within 24 hrs!

[2019-02-12 23:59] pgunn commented on #186
@paulklemm @DaveMcBrave Hi, I've worked through the hurdles to make this work, and the Dockerfile in this branch successfully builds an image:

https://github.com/flatironinstitute/CaImAn/pull/454

Give it a go.

[2019-02-13 10:21] PhilippBartel commented on #450
Same here!
![untitled](https://user-images.githubusercontent.com/8902312/52704103-ba9d5e80-2f77-11e9-96c8-107f8fd24100.png)

Simply downgrading the ipykernel within the existing env didn't solve it for me. Could you tell me what you think I should do exactly?

[2019-02-13 12:01] epnev commented on #450
@PhilippBartel We need to look into this a bit more, but you might need to create a new environment from scratch. By the way, are your environment variables set before launching python?
[code]

[2019-02-13 15:07] PhilippBartel commented on #450
@epnev

Yes, the environmet variables were set.
Removed the previous caiman environment, created a new one, downgraded ipykernel and installed caiman. Now caimanmanager.py is not finding *past* for some reason. I'm not sure how to debug this.

Tell me if I can do some test that will facilitate the process here :D

[2019-02-13 16:03] pgunn commented on #450
@PhilippBartel Are you sure you made the new environment from the environment.yml? That yml file lists "future" in its package lists and the future package implements past (some sly joke among the python devs here I think).

Marker:
When you're in the caiman environment, `conda list` should show a package called 'future' in the list.

[2019-02-13 17:48] epnev commented on #186
The docker file is now included in the master branch. I'm closing the issue but if you try it out and encounter issues feel free to re-open it.

[2019-02-13 17:48] #186 closed

[2019-02-13 17:49] epnev commented on #427
@tbenst Our fix is now pushed to the master branch. I'm closing the issue but feel free to re-open it if you're still encountering issues.

[2019-02-13 17:49] #427 closed

[2019-02-13 17:50] epnev commented on #429
@tbenst I'm closing the issue but feel free to re-open if you're still encountering problems. The fix has been pushed to the master branch.

[2019-02-13 17:50] #429 closed

[2019-02-13 17:55] epnev commented on #450
@PhilippBartel Sorry, I was not clear. What I meant is that you will need to create a new environment, where ipykernel is pinned to the older version right from the environment file. [We have updated the code to do that.](https://github.com/flatironinstitute/CaImAn/blob/master/environment.yml)
If you don't mind trying again, I think this should help.

[2019-02-13 17:59] epnev commented on #442
@mschachter Did you have a chance to check this?

[2019-02-13 22:46] johannesmaxkappel commented on #450
Not sure whether to open a seperate ticket for this: I experience the same issues as @PhilippBartel described after updating today. For the update, I first updated Anaconda, then deleted the old caiman env and made a clean reinstall. I am running CaImAn on a Windows 10, Python 3.6 as well, NOT through ipython but running *.py scripts in PyCharm IDE with Anaconda environment. I used the same data a

[2019-02-14 08:28] paulklemm commented on #186
Great work, thanks a ton!

I suggest you make a docker image on [hub.docker.com](https://hub.docker.com/) for people to `docker pull` from.

[2019-02-14 13:31] pgunn commented on #186
@paulklemm It's something we're thinking about once it's been out there for a bit and we get some more feedback.

[2019-02-14 14:34] epnev commented on #450
@johannesmaxkappel That's good to hear. We're considering to make pycharm our default recommendation for users, although that might involve a somewhat steep learning curve for python novices.

[2019-02-14 19:34] peltonen commented on #433
On a new installation, I am also finding that the shell crashes when attempting to activate the caiman environment. Here's the piped output:

C:\Users\Ginty>python C:\Users\Ginty\.conda\envs\caiman\etc\keras\load_config.py  1>temp.txt

C:\Users\Ginty>set /p KERAS_BACKEND= 0<temp.txt

C:\Users\Ginty>del temp.txt

C:\Users\Ginty>python -c "import keras"  1>nul 2>&1

C:\Users\Ginty>if errorlevel 1 (

[2019-02-14 19:36] pgunn commented on #433
Hi,
This is an issue with the glue between Conda and Visual Studio not functioning correctly. Do a search under your conda dir for a file named vs2015_compiler_vars.bat
if you find it, try deleting it (or move it elsewhere).

[2019-02-14 19:44] pgunn commented on #433
@peltonen Actually given the messages I see there, you might have a slightly differently named file specific to VisualStudio 14 that still follows the same pattern; maybe it'd be vs2014_compiler_vars.bat ? It might be safer to just search for _compiler_vars.bat and see what turns up.

[2019-02-14 22:26] mschachter commented on #442
Sorry @epnev , I got back to checking this out today. So far, with the latest master branch, with default parameters, the artifacts still remain. By default, it appears that ```skip_refinement=False``` in the CNMF constructor. However, I did not see the word "refinement" appear in the output logs, although I would have expected it to appear because of this code in cnmf.py (line 489):

``

[2019-02-15 13:58] peltonen commented on #433
Deleting the .vars file mentioned above solved the issue, thanks for the fix.

[2019-02-15 18:48] mschachter commented on #442
@epnev I should have paid more attention to the code...

So first of all, we're running in patch mode, so skip_refinement is never used. Instead, presumably, the code from lines 551 on are applied from caiman/source_extraction/cnmf.py. We provide customers with a wrapper that executes CNMFe, which can be found here:

https://github.com/inscopix/isx-cnmfe-wrapper/blob/master/isx_cnmfe_wrapper/runne

[2019-02-17 23:10] agiovann opened #457 "Cannot download demo file with urllib"
Organizing a workshop in a three days, this might be critical

For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

Not applicable

If

[2019-02-17 23:13] pgunn commented on #457
I poked Dylan about moving it off of CloudFront - if that's not an option I'll find alternate hosting.

[2019-02-18 01:37] agiovann commented on #457
Can we momentarily put it on Dropbox as it was before?

On Mon, Feb 18, 2019, 08:13 Pat Gunn <notifications@github.com wrote:

[2019-02-18 10:46] pgunn commented on #457
I'll look into it - that or S3 (although if CloudFront can be turned off for the users website that'd be ideal).

[2019-02-18 13:10] epnev commented on #457
@agiovann Check the [urls](https://github.com/flatironinstitute/CaImAn/blob/master/caiman/utils/utils.py#L71) to the files from your browser. They appear active to me.

[2019-02-18 18:43] agiovann commented on #457
I added a PR with the solution on my machine. @Pat Gunn
<pgunn@flatironinstitute.org> maybe this will not be an issue for others,
it is just something specific to my system.

Thank you,

Andrea

On Mon, Feb 18, 2019 at 10:10 PM eftychios pnevmatikakis <
notifications@github.com> wrote:

--
Andrea Giovannucci, PhD
Assistant professor
Biomedical Engineering Department

*UNC Chapel-Hill*
Chapel Hill,

[2019-02-19 14:51] epnev commented on #450
@PhilippBartel Any updates? Have your tried installing on a new environment to see whether the problems persist?

[2019-02-19 15:21] pgunn opened #459 "Issue with OpenCV import on OSX (conda-forge)"
In CI and also with users, OpenCV broke recently on OSX, failing in import with messages like this:

[code]

[2019-02-19 15:53] pgunn commented on #459
Will confirm that downgrading jasper to 1.900.1 (from 1.900.31, which was uploaded this weekend) fixes the issue, poking conda-forge people on gitter. If/when confirmed, will ask them to mark 1.900.31 as a bad build)

[2019-02-19 16:17] pgunn commented on #459
Have confirmed that `conda install jasper=1.900.1` fixes the problem. Hoping I can get them to mark 1.900.31 as a bad build; if that's not done today we can pin it in our environment.yml file until the problem is solved.

[2019-02-19 16:27] wmau opened #460 "merge_thr not being properly assigned in CNMF-E notebook demo"
- **If you're not reporting an error, type your message below**
In the change_params method call, 'merge_thresh' should be 'merge_thr'. Consider a small function in set() or change_params() that will flag unconventional dict keys.

[2019-02-19 16:40] pgunn commented on #459
We can't pin jasper in a cross-platform way - OpenCV is not built against jasper on Windows

[2019-02-19 16:57] pgunn commented on #459
Added note to our install instructions (tried pinning Jasper but that didn't work on Windows).

Reported here:
https://github.com/conda-forge/opencv-feedstock/issues/147

Please do not close this issue until it's fixed upstream and we've taken those install instructions back out.

[2019-02-19 19:33] epnev commented on #457
Fixed with #458, permanent solution will come soon.

[2019-02-19 19:33] #457 closed

[2019-02-19 21:28] epnev commented on #460
@wmau Thanks for noticing. This has now been fixed with 9aea1feb2fb25c78e171e2f49c6e97e0ecfe5911 and I also introduced the feature you suggested.

[2019-02-19 21:28] #460 closed

[2019-02-20 14:46] epnev commented on #459
This has been fixed by the conda-forge team.

[2019-02-20 14:46] #459 closed

[2019-02-21 02:42] 123miles opened #465 "Suggested feature"
For making it easier to compare parameters, plots could be automatically given a title "idx_components_bad" and have a legend "min_SNR=2, rval_thr = 0.8"

[2019-02-21 04:17] koronfelina opened #466 "Windows crashing when activating environment"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-02-21 07:27] pgunn commented on #466
Hi,
Please look in your conda dir for a file named vs2015_compiler_vars.bat and delete it. This should fix the issue.

[2019-02-21 16:25] zbarry opened #467 "Better docs on "best practices""
Hi all - from lurking a bit in the gitter channel, I've seen time and time again questions about "what should I set this parameter to" or "what does this parameter even do" (which are totally legitimate). I was thinking it would be a good idea to well-document how to ballpark params w.r.t. the type of imaging being done, conditions, whatever, as well as how to sanity check results based on params

[2019-02-21 18:34] epnev commented on #465
@123miles I added the feature you suggested with 6749faf179896fc5379b1dc8a5f2445c23f01c3f Currently on the dev branch, it should appear on the master branch with our next release. You will need to pass the `params` object when calling the plot contour functions so the threshold parameters can be read from there.

[2019-02-21 18:34] #465 closed

[2019-02-21 18:36] epnev commented on #467
@zbarry I agree with that. Right now we have some tips on the [wiki](https://github.com/flatironinstitute/CaImAn/wiki/CaImAn-Tips) which seems like a reasonable place to add such information but we can/should add more. If you have any ideas I'll be happy to talk more.

[2019-02-21 20:46] agiovann opened #470 "setting p param in demo_pipeline"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-02-21 22:10] epnev commented on #470
fixed with f9fa2e2bf632ec38d4a7e456abf0f6da0b142f1f

[2019-02-21 22:30] agiovann commented on #470
try to improve the clarity by not setting p inside and outside of the fit method

[2019-02-21 22:38] epnev commented on #466
@koronfelina let us know if you're still encountering problems

[2019-02-22 01:01] 123miles commented on #465
Wow, that was fast. Thank you so much

From: eftychios pnevmatikakis <notifications@github.com>
Reply-To: flatironinstitute/CaImAn <reply@reply.github.com>
Date: Friday, 22February, 2019 3:34
To: flatironinstitute/CaImAn <CaImAn@noreply.github.com>
Cc: Desforges Miles <MILES.DESFORGES@OIST.JP>, Mention <mention@noreply.github.com>
Subject: Re: [flatironinstitute/CaImAn] Suggested feature (#465)

@

[2019-02-22 01:24] koronfelina commented on #466
Hi Eftycihos,

Can you please give me more information about the conda dir? How to find it? Is it a drive on my PC? If so, I can’t find it. Sorry I’m a beginner and not very familiar with the terms 😊

Thanks for understanding.

Lina

From: eftychios pnevmatikakis <notifications@github.com>
Sent: Friday, February 22, 2019 7:38 AM
To: flatironinstitute/CaImAn <CaImAn@noreply.github.com>
Cc: Koronfel

[2019-02-22 07:21] agiovann commented on #466
@Eftychios Pnevmatikakis <epnevmatikakis@flatironinstitute.org> this is
solved, I helped. We installed everything.

On Fri, Feb 22, 2019 at 10:24 AM koronfelina <notifications@github.com>
wrote:

--
Andrea Giovannucci, PhD
Assistant professor
Biomedical Engineering Department

*UNC Chapel-Hill*
Chapel Hill, NC 27514
609.865.8251 *main *

*nel.bme.unc.edu/ <http://nel.bme.unc.edu/>*

[2019-02-22 12:14] #466 closed

[2019-02-22 15:46] wmau commented on #452
Windows 10, Python 3.6, Spyder

I think a recent change is introducing an overflow error at this line: https://github.com/flatironinstitute/CaImAn/blob/0c4f1a1ef9f769f54c88745e97f34084b27941ec/caiman/mmapping.py#L280

Here's the full error message:

[2019-02-22 16:12] wmau commented on #452
Changing computed_position = idx_end * int(Yr_tot.dtype.itemsize) * tot_frames to idx_end * np.int64(Yr_tot.dtype.itemsize) * tot_frames resolves this issue.

From what I can tell, the original line gives the wrong multiplication result due to memory overflow.

[2019-02-22 17:11] pgunn commented on #452
Ah, fascinating. I assumed that np.int was a 64-bit int on all modern platforms. Will fix.

[2019-02-22 17:22] pgunn commented on #452
https://github.com/flatironinstitute/CaImAn/pull/472

[2019-02-22 18:26] pgunn commented on #452
@wmau Fix is in dev now, will likely go into master soon. Leaving this FR open as I still haven't written a unit test to catch this yet.

[2019-02-25 03:44] windgrazer opened #474 "Walk through on 2p mesoscope data"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-02-25 21:38] wmau opened #475 "Dimension mixup when doing register_multisession with templates"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Windows 10, Python 3.6, Spyder/PyCharm

- **Describe the issue that you are experiencing**

Running register_multisession() with a list of templates gives me the error copied below.

(210, 250) is the actual dimension of the templates but it looks like the

[2019-02-25 21:49] wmau opened #476 "Affine translations from registration alignments?"
- **If you're not reporting an error, type your message below**
I am trying to plot cell contours over multiple days, but they are slightly misaligned each day. I assume there is some kind of alignment algorithm happening before cells are matched. Is there any way I can extract the affine translation values so I can align my cell contours post-hoc? Or are aligned cell contours included in the outp

[2019-02-25 22:34] epnev commented on #476
@wmau You can do that relatively easily when you align a pair. The alignment happens at this [spot](https://github.com/flatironinstitute/CaImAn/blob/master/caiman/base/rois.py#L403) or at line 410 if the other alignment method is used. While the inferred transformation is not included outputs, the last output, denoted as `A2`, stores the ROIs of session 2 aligned to the template of session 1. For

[2019-02-25 22:34] #476 closed

[2019-02-25 22:40] epnev commented on #450
@PhilippBartel Closing due to inactivity. Feel free to reopen if you're still encountering problems.

[2019-02-25 22:40] #450 closed

[2019-02-25 22:45] epnev commented on #474
@windgrazer It's hard to say what's going wrong since the images have poor resolution. You can try setting `display_numbers=False` when plotting the contours to reduce the clutter. If you feel that the number of components is too high you should try reducing `K` and/or increasing `rf`. The `dxy` parameter refers to the spatial resolution in pixels/um so you should set it to whatever value you get

[2019-02-25 22:54] epnev commented on #475
@wmau it could be, although I looked into something similar in the past and there were no errors #447.

Can you try out the following? Use the code without the changes you introduced, but swap `flow[:,;,0]` and `flow[:,:,1]` in [lines 406-407](https://github.com/flatironinstitute/CaImAn/blob/master/caiman/base/rois.py#L406).
Does this solve the problem? (sorry, can't try this at the moment myself)

[2019-02-25 22:57] epnev commented on #475
@wmau Nevermind the above, won't solve the problem. Will take a look

[2019-02-26 01:09] epnev commented on #475
@wmau Thanks, you were absolutely right. Fixed on dev with 97d1fee6f2943a460b379e197dada15461841dbc

[2019-02-26 01:09] #475 closed

[2019-02-26 03:21] windgrazer commented on #474
@epnev

I have tried setting display_numbers = False and changing the K and rf values. These seem to help reduce the components picked up to make it look more reasonable. I would like to further check on the **dxy** I should input - currently set to (1., 0.4).
![dxy 1 0 4](https://user-images.githubusercontent.com/26172299/53385046-07d9f100-39b8-11e9-89f4-7d1bb38b18cf.PNG)

Our original tiff file

[2019-02-27 00:51] epnev commented on #474
@windgrazer That figure has a slider you can use to view all the components. Since there is substantial motion you should make sure that the motion correction part corrects for it. You can also try out the online algorithm, check the `demo_OnACID_mesoscope` demo.

[2019-02-27 02:34] eklein4 opened #478 "no module named caiman"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-02-27 09:16] pgunn commented on #478
Hi,
Are you sure you were in the caiman environment you built in the instructions? You should not have had to go through all of that.

[2019-02-28 18:43] epnev commented on #478
@eklein4 Let us know whether the error has been resolved.

[2019-02-28 19:24] zbarry commented on #467
Hmm. Since there's already a skeleton Sphinx API documentation framework set up, it could make sense to build that out more so the big picture + the low level functionality are all in one place. Could be formulated like (just as a first pass off the top of my head):

1. What is CaImAn
    - What it is trying to accomplish as a package
    - What were the previous solutions to calcium trace extract

[2019-02-28 19:39] zbarry opened #479 "Change python version pinning in environment.yml?"
i.e., change `python=3.6` to `python>=3.6`, unless there's some sort of package that breaks with 3.7 (?)

[2019-02-28 19:43] pgunn commented on #479
Right now it's easier for us to support one version of Python, particularly because users are making an environment specifically for CaImAn. Is there a use-case you have in mind for loosening this pin?

[2019-02-28 19:50] zbarry commented on #479
Hmm. I guess my situation is that when I use caiman when processing all my movies in batch (or any of my analysis pipelines), I use an environment specifically for that one pipeline. On the other hand, since I have a lot of projects that I'm working on simultaneously, I just have a single Jupyter lab instance running that has the packages to support all of them (I don't feel too bad about this sin

[2019-02-28 19:54] epnev commented on #479
Last time we checked there were some issues with opencv and python 3.7. If these are gone then we can consider lifting this pinning. In general, it's good to play it safe and be a late adopter.

[2019-03-01 15:25] #479 closed

[2019-03-05 04:21] #474 closed

[2019-03-05 15:59] zbarry opened #481 "Something to maybe keep on the radar: Python 3.8 multiprocessing module shared memory"
Looks like there's this really cool way in 3.8 to share memory between multiprocessing-spawned Python processes: https://docs.python.org/3.8/library/multiprocessing.shared_memory.html

Their numpy example looks pretty straightforward to implement (in a vacuum). Not sure how much of the performance cost right now is data serialization-based, but even if it's not too much of a bottleneck, maybe futu

[2019-03-05 16:20] pgunn commented on #481
This looks very interesting; we're still not ready to move to 3.7 yet, and 3.8 isn't quite released yet (looks like there are some alphas floating about), but when we're ready to push users to this version we'll probably experiment with this.

[2019-03-05 16:24] zbarry commented on #481
Yeah, figured this would be a distant-future kind of thing considering how (rightly) careful you guys are with the reliability of the software for a growing userbase.

[2019-03-05 21:27] rbedi opened #482 "Top/bottom not supported for single movie input"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Ubuntu 16.04.5, Python 3.6.7, Jupyter Lab 0.35.4

- **Describe the issue that you are experiencing**

In `load` of `movie.py`, I'm hitting the following exception:

[code]

When I try to load a movie in the following way:
[code]

- **If you're not reportin

[2019-03-06 14:52] epnev commented on #482
@rbedi Can you pass the movie location as a list with one element? Does this work?

[2019-03-06 15:04] epnev commented on #482
@agiovann Can you take a look? Seems like residual calblitz code

[2019-03-06 16:05] zbarry commented on #467
Any thoughts on this / things I missed / better ideas on how to organize / secret helpful docs lying around to scrape content from?

[2019-03-06 19:10] epnev commented on #481
@zbarry  Thanks for the info; we're still a long way. CaImAn will still not work with python 3.7 although I believe this will be lifted soon. #483

[2019-03-06 19:10] #481 closed

[2019-03-06 19:11] epnev commented on #478
@eklein4 I'm closing this issue due to inactivity. Feel free to reopen if you're still encountering issues.

[2019-03-06 19:11] #478 closed

[2019-03-07 17:48] epnev commented on #467
@zbarry This is thoughtful and helpful. I'm not very experienced with documentation generation. Do you have any preference e.g. github pages vs readthedocs?

[2019-03-07 17:57] zbarry commented on #467
Hmm. One of my colleagues has a whole setup for generating RTDs-style documentation, so I can probably rip off his (and get his help). I'm seeing more and more projects' documentation on readthedocs, so I think that might be the way to go.

[2019-03-08 03:23] epnev commented on #482
@rbedi I don't see a reason for this happening. I added a fix that uses the load_movie_chain function which supports this. However, note that this feature is somewhat deprecated. You can use the subindices command and pass a list of slice objects along T, X, Y that will do the same but faster.

[2019-03-08 07:54] hluetck opened #484 "Manual merging of components"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-03-08 17:42] etterguillaume opened #485 "Correlation/pnr in patch mode?"
Hi! I know this issue has been brought up a couple of times so this could be more of an enhancement suggestion. I am processing long 1p data with CNMFE, and while running cnmf.fit() on patches works even with lower specs (16Gb RAM) and in single thread mode (no parallelization), it is still a problem to compute the cn/pnr (crashes due to memory overflow, on any machine mac/windows/linux). While th

[2019-03-08 18:45] epnev commented on #485
@etterguillaume This can be done, but you can also compute the correlation pnr on a subset of your data, small enough so that it goes through without any problems. E.g. compute it on the dataset obtained by every fifth frame using `images[::5]`. The result will be largely similar, and it highly unlikely that it will lead you to choose different threshold values.

[2019-03-08 18:55] etterguillaume commented on #485
Thank you very much for getting back so promptly Eftychios. Temporal downsampling using images[::5] immediately solved the problem and drastically sped up the process. I will close the issue right away, thanks again!

[2019-03-08 18:55] #485 closed

[2019-03-11 15:39] epnev commented on #484
@hluetck We already have some old functions that could be used for that. I'll look into creating an `estimates` method that operates around them.

[2019-03-11 20:41] epnev commented on #484
@hluetck I added a function on the [dev branch](https://github.com/flatironinstitute/CaImAn/blob/dev/caiman/source_extraction/cnmf/estimates.py#L920) which will manually merge a set of pre-defined components. It's a bit experimental and things can get somewhat complicated if you want to manually merge components after you have run the quality evaluation step. The reason being that there is all the

[2019-03-12 17:37] hluetck commented on #484
Thanks for the quick reply. I will look into it and report back.

[2019-03-13 14:10] epnev commented on #467
@zbarry I have started adding some bits and pieces in the documentation (based on gh-pages for now although we can switch to the readthedocs at any time). I used pandoc to convert the MD files into RSTs although the conversion is not always flawless.

If you want to contribute you can submit PRs in the `dev_docs` branch. The source files are inside `docs/source`. The whole instructions for turning

[2019-03-19 14:22] epnev commented on #482
closing due to inactivity but feel free to re-open.

[2019-03-19 14:22] #482 closed

[2019-03-20 11:09] rintrah opened #490 "Different shape of operands in CNMF"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-03-20 14:40] epnev commented on #490
@rintrah That's a weird one. What do you get if you type:
[code]
I'm trying to understand where the shape discrepancy occurs.

[2019-03-20 14:51] rintrah commented on #490
Dear Eftychios,

Thank you for your reply.

When I typed `print(print(cnm.estimates.C.shape); print(cnm.estimates.YrA.shape)`,  I obtained `(536, 5000), (539, 5000)`.

Best wishes,

[2019-03-20 15:55] epnev commented on #490
What about the value of `cnm.estimates.merged_ROIs`?

[2019-03-20 16:04] rintrah commented on #490
Dear Eftychios,

The value of `cnm.estimates.merged_ROIs` is `[]` (empty).

Best wishes,

[2019-03-20 16:08] epnev commented on #490
I'm not sure why this is happening. Do you see this error with all your files or just that?

[2019-03-20 16:22] rintrah commented on #490
This is the first of my own files that I have used with CaImAn.  The demo included in the program worked without any problem.

[2019-03-20 17:06] epnev commented on #490
@rintrah If you can truncate the file to a smaller size where you still face this problem and send it over I'll be happy to take a look when I get a chance.

[2019-03-21 09:15] rintrah commented on #490
OK.  I see if I can get the same problem with a smaller file.

[2019-03-25 17:08] lun11 opened #493 "No module named 'caiman'"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**

Windows 10 (64bit), Anaconda

- **Describe the issue that you are experiencing**

I tried to install CaImAn.  I got to "caimanmanager.py install" and received the error "No module named 'caiman'.

- **Copy error log below**

Traceback (most recent call las

[2019-03-25 17:37] pgunn commented on #493
Hi,
After you perform the install, you need to leave the caiman source directory before running caimanmanager.py

[2019-03-25 17:54] lun11 commented on #493
Hi,
Thank you for the reply.  I entered cd.. before running caimanmanager.py install.  Is that what you meant?

[2019-03-25 17:55] pgunn commented on #493
Hi,
Yes. I assume as you just closed the issue that things are working now?

[2019-03-25 17:56] lun11 commented on #493
Sorry I accidentally pressed close and comment...I meant to just comment.

[2019-03-25 18:06] pgunn commented on #493
If you change to an unrelated directory, do you still get the issue? You did the install with pip? Did you get any errors while doing that?

[2019-03-25 18:09] lun11 commented on #493
(caiman) C:\Users>caimanmanager.py install
Traceback (most recent call last):
  File "C:\Users\allenli\Anaconda3\envs\caiman\bin\caimanmanager.py", line 12, in <module>
    from caiman.paths import caiman_datadir
ModuleNotFoundError: No module named 'caiman'

Yes, the error shows up even if i change to an unrelated directory.  Yes, I installed through "pip install ." and I did not get any errors.

[2019-03-25 18:11] pgunn commented on #493
If you do a `conda list` can you verify that the caiman package is in the list of packages in your environment? Maybe cut'n'paste that line and the surrounding few lines?

[2019-03-25 18:19] lun11 commented on #493
I just did a conda list.  It is in the list of packages in the caiman environment.

![caiman](https://user-images.githubusercontent.com/41491620/54943978-dd247f00-4f08-11e9-99cd-21c83044b77a.PNG)

[2019-03-25 18:25] pgunn commented on #493
I have a few theories as to what might be going on (the windows shell environment can be a bit surprising sometimes).

First, I'd like to see what happens when you type
`echo %PATH%`

Second, when you type `python` I'd like to see the stuff it tells you before you hit the interactive python prompt. (hit control-Z to exit that prompt afterwards)

Finally, if you try launching caimanmanager like thi

[2019-03-25 18:29] lun11 commented on #493
Typing `echo %PATH%` shows
C:\Users\allenli\Anaconda3\envs\caiman;C:\Users\allenli\Anaconda3\envs\caiman\Library\mingw-w64\bin;C:\Users\allenli\Anaconda3\envs\caiman\Library\usr\bin;C:\Users\allenli\Anaconda3\envs\caiman\Library\bin;C:\Users\allenli\Anaconda3\envs\caiman\Scripts;C:\Users\allenli\Anaconda3\envs\caiman\bin;C:\Users\allenli\Anaconda3\condabin;C:\Program Files (x86)\Common Files\Oracl

[2019-03-25 18:34] pgunn commented on #493
Ok. So that last thing worked (and you now should have a caiman_data folder).

My guess is that right now you have Windows configured in a way where the .py extension is associated with some python binary out there that's not the anaconda one, and that it's that python that's being used to execute caimanmanager (rather than the anaconda one). This isn't an issue specific to caiman; you may want to

[2019-03-25 18:34] #493 closed

[2019-03-25 18:38] lun11 commented on #493
Great! Thank you so much for your help.  I will try to remove that association.  Thanks!

[2019-03-28 15:21] rintrah commented on #490
Dear Eftychios,

A small update.

I created a small file (639MB) and the extraction worked fine.  I will try with a bigger tiff file.

The main differences (beside the size) were that I followed your suggestion in the wiki (on file types and sizes).  My previous file was a ImageJ type tif file.  The other thing is that since I followed the demo **demo_pipeline_cnmfE.py**  `merge_thresh` should be

[2019-03-28 17:01] epnev commented on #490
@rintrah thanks for catching that typo! Let me know if the larger file worked without that error.

[2019-03-28 18:55] naranji opened #498 "The best way of saving CNMF results"
I was wondering what is the most practical way is saving the results (and parameters) of CNMF?

[2019-03-28 18:58] naranji opened #499 "Transforming S to spike numbers."
Inferred spike vector is float. I was wondering about the best way of comparing the S vector for two different neurons. Is there any standard way to transform S to some firing rate like variable?

[2019-03-29 12:58] epnev commented on #498
@naranji There is a `cnmf.save` method that you can use to the save the cnmf object as a HDF5 file.

[2019-03-29 12:58] #498 closed

[2019-04-01 15:53] rintrah commented on #490
Dear Eftychios,

An update.

I have tried a file of 3000 frames.  Now I have an error in the `inspect_correlation_pnr` function (see attached code).  Now I am going through the issues to see if this problem has been previously addressed.

Best wishes,

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call

[2019-04-01 15:54] rintrah commented on #490
Sorry I closed the issue by mistake.

[2019-04-01 17:07] epnev commented on #490
@rintrah  What is the value of `np.sum(np.isnan(cn_filter))`?
If it's non-zero it means that your correlation image contains NaN values, possibly because there are pixels that have constant value across your experiment.
You can use something like `cn_filter(np.isnan(cn_filter)) = 0` before plotting them to remove them.
Does that help?

[2019-04-01 17:12] epnev commented on #499
@naranji
In general, it is wise to interpret the output `S` as a signal that is roughly proportional to the firing rate at that moment. If you want to translate it into direct spike counts you can do either:

1. Quantize the neural activity `S` outputs to get spike counts. That's the easiest but least accurate/formal. The idea is you set an amplitude on the ` S` output that corresponds to one spik

[2019-04-01 19:36] lun11 opened #500 "Extract 1P data"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)** Windows 10, Anaconda3

- **Describe the issue that you are experiencing**
I am trying to extract data from the following traces:
![bokeh_plot (3)](https://user-images.githubusercontent.com/41491620/55354304-5dac2800-5493-11e9-85c0-fe58848bed9e.png)
![bokeh_

[2019-04-01 19:48] epnev commented on #500
@lun11 There should be only one `estimates` field. How about if you try `cnmf.estimates.A`?

[2019-04-01 20:07] lun11 commented on #500
@epnev Thank you for the prompt response.  I tried `cnmf.estimates.A`, but I received the following error message.   Just to clarify, I am trying extract the tracing, so I could make the plots either with python or other software.  Thank you.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipy

[2019-04-02 00:57] alex-attinger opened #501 "PointSelection __getitem__ only works with bool arrays"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-04-02 01:05] epnev commented on #501
@alex-attinger Can you run again but setting `dview=None` when creating the MotionCorrect object? Post the error message that you get in that case.

[2019-04-02 01:21] alex-attinger commented on #501
Thanks for your reply. I did:
mc = MotionCorrect(fnames, dview=None, **opts.get_group('motion'))

But the error does not seem to change:
TypeError                                 Traceback (most recent call last)
<ipython-input-21-4d1e407438e4> in <module>
      1 #%% Run piecewise-rigid motion correction using NoRMCorre
----> 2 mc.motion_correct(save_movie=True)
      3 m_els = cm.load(mc.fname_t

[2019-04-02 02:29] epnev commented on #501
@alex-attinger I believe this addition should fix the issue when running with `dview=None`
https://github.com/flatironinstitute/CaImAn/commit/df7d6bd92cb13f9a2e3a66d2e018ef1920f20678
Can you confirm?

When running with `dview=dview`, i.e., there seems to be another error that I'll need to look into.

[2019-04-02 02:39] epnev commented on #501
@alex-attinger actually I think it should work with `dview=dview` as well. Let me know if you still get errors

[2019-04-02 09:01] rintrah commented on #490
@epnev

There was NaN values in the correlation image, but it seems that there are also a problem with `pnr` (<class 'numpy.ndarray'>) .  The are (in this case) 28 `Inf` values in pnr (`np.sum(np.isinf(pnr))`). When the program tries to plot it it fails because axis limits cannot be `Inf`.  I can truncate the values of pnr, but I am not sure if this is the right approach.  If truncate is a good id

[2019-04-02 12:09] epnev commented on #490
@rintrah I'm pretty sure you can set them to 0 (or to the max value of the non infinite values).

[2019-04-02 17:45] alex-attinger commented on #501
It works! Thank you! Unrelated question: Is there a recommended way of processing data from multiple separate z layers other than putting it into separate files?

[2019-04-02 18:57] epnev commented on #501
@alex-attinger You're welcome; thanks for spotting this.

Separate files is the way to go. In principle the code can be modified to e.g. read every N frames but that will require non-trivial amount of work. Are your z planes spaced far apart from each other to capture disjoint sets of neurons?

[2019-04-02 18:57] #501 closed

[2019-04-02 18:57] epnev commented on #500
@lun11 This seems resolved so I'm closing the issue but feel free to follow up/reopen it.

[2019-04-02 18:57] #500 closed

[2019-04-02 19:03] lun11 commented on #500
@j-friedrich @epnev Thank you for the input. I will reopen if I have more questions.

[2019-04-02 19:47] zbarry opened #502 "Weirdness in reshaping in estimate_components_quality"
Reshaping the data stored in the mmap post-motion correction:

[code]

`Estimates.evaluate_components` defines a movie as `t,x,y`:

https://github.com/flatironinstitute/CaImAn/blob/df7d6bd92cb13f9a2e3a66d2e018ef1920f20678/caiman/source_extraction/cnmf/estimates.py#L780-L788

It calls `estimate_components_quality_auto`, which calls `estimate_components_quality`, which defines `Y` as shape `x,y,t`:

[2019-04-02 20:34] zbarry opened #503 "`inf` SNR from component quality estimation"
[code]

One component had a `comp_snr` value of `inf` and an `r_value` of 0.9. I then went the different route of using `cnmf.deconvolution.GetSn` for noise estimation, which did give a proper value (see below). Here's what it looks like:

[code]

![image](https://user-images.githubusercontent.com/4762711/55434134-e050e800-5564-11e9-9493-ed7e7ec98190.png)

Any idea why this might be happening? (No

[2019-04-02 21:19] epnev commented on #503
@zbarry If you put a breakpoint at around [this point](https://github.com/flatironinstitute/CaImAn/blob/master/caiman/components_evaluation.py#L153) what values do you get for `sd_r` and `erf`? Is `sd_r` zero or `erf` infinite?

Also, is the computation based on the trace shown on the left or on the right panel?

[2019-04-02 21:46] epnev commented on #502
@zbarry I'm sorry you had to go through this painful piece of code. I just did myself and lots of things can be improved. Anyway, what happens is the following:

When you enter the `estimate_components_quality` function it checks whether the file is memory mapped or not. It usually is, and then the function calls for the parallel evaluation of the `evaluate_components_placeholder` function where i

[2019-04-03 11:54] rintrah commented on #490
@epnev
I did what you suggested and it works.  I have thought about the constant values and wonder whether it would be helpful if I use a polygonal section of my data (one that exclude constant components).  Do you think it is a good idea?

Thank you.

[2019-04-03 12:09] epnev commented on #490
@rintrah That won't be necessary and by the way the FOV has to be in an orthogonal grid. As long your patch size is large enough such that each patch contains pixels that don't have constant values there shouldn't be a problem in your analysis. You can control for NaN/Inf values in the correlation and PNR images using what we discussed above. I can also modify the code to remove that automatically

[2019-04-03 12:13] epnev commented on #197
Hi @michaelfsp I was going through past issues and saw that you implemented this algorithm. Did you find it helpful?

[2019-04-03 12:18] rintrah commented on #490
@epnev

Thank you very much.  I close the issue.

[2019-04-03 12:18] #490 closed

[2019-04-05 02:42] KyeongMinMOON opened #505 "Problems installing CaImAn (basic issues)"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-04-05 15:30] tvajtay commented on #448
Ubuntu 16.04, Python 3.6, Jupyter notebook
I believe this same issue has cropped up again for me. In `demo_pipeline.ipynb`, when trying to run `cm.save_memmap`. However, I only receive this error when I try to run multiple tiffs, if I only do one movie I don't get the error.

[code]

[2019-04-05 15:36] tvajtay opened #506 "uint64 type error in save_memmap"
Ubuntu 16.04, Python 3.6, Jupyter notebook
I believe this same issue #448 has cropped up again for me. In `demo_pipeline.ipynb`, when trying to run `cm.save_memmap`. However, I only receive this error when I try to run multiple tiffs, if I only do one movie I don't get the error.

[code]

[2019-04-05 15:45] pgunn commented on #505
Hi,
The conda.compat thing is a little weird but harmless
The second part failed, so anything after is not likely to work. If you can try running this manually it may help us figure out what went wrong:

`C:\Users\MK\Anaconda\envs\caiman\Scripts\.qt-post-link.bat -v`

(I'm hoping this script wasn't removed as part of the rollback, but it may have been)

[2019-04-05 16:06] tvajtay opened #507 "Representative video image in jupyter notebook for trace plot has scale issue"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), and working environment (Spyder/Jupyter Notebook/other)**
Ubuntu 16.04, Python 3.6, Jupyter notebook

- **Describe the issue that you are experiencing**
When running `cnm2.estimates.nb_view_components` the still image of the source movie starts small and then increases in size as the neuron slider is moved.

- **C

[2019-04-05 16:58] epnev commented on #507
@tvajtay Can you make the change introduced with https://github.com/flatironinstitute/CaImAn/commit/05778123f6d41339ca75e7d0c25666ce5ca3a2d8 and try again?

[2019-04-05 17:13] tvajtay commented on #507
@epnev  Ok

[2019-04-05 17:40] tvajtay commented on #507
@epnev The change worked, now aspect ratio is conserved and image does not change with slider

[2019-04-05 17:40] #507 closed

[2019-04-05 18:00] epnev commented on #507
@tvajtay cool, thanks for checking.

[2019-04-06 08:25] KyeongMinMOON commented on #505
Hi,

Unfortunately, qt-post-link.bat -v file is not existed in Scripts folder.
However, i can find this file in two different folders C:\Users\MKM\Anaconda\Scripts\qt-post-link.bat -v and C:\Users\MKM\Anaconda3\pkgs\qt-5.6.2-h2639256_8\Scripts.

Thanks

[2019-04-06 13:05] naranji commented on #499
@epnev
As far as I understood S lies in [0,1) range. Is that invariant among all neurons with different S/N? In other words, ca I directly compare two different neurons and say if S_1=0.03 and S_2=0.06 then neuron two is twice as active as neuron one in that particular moment?

[2019-04-06 19:04] pgunn commented on #505
Ah. Unfortunately this doesn't leave me with a great path forward to debugging this - in an ideal world it'd stop where the install fails and let us poke at or repair the install process so it can go forward, but if it undoes its work when it encounters a problem it's going to be hard to diagnose and fix it.

Are you using conda for anything else? If not, we might want to try removing and reinstal

[2019-04-06 19:07] pgunn commented on #506
The surprise here is that somehow it's becoming floating-type. Would you mind, right before that f.seek, inserting this like and letting me know what you see right before the excception triggers?

(tab it in to the same level as f.seek)
[code]

I'm guessing that somehow idx_start or tot_frames is floating-point rather than integer, although I don't know how that would happen.

[2019-04-06 19:17] tvajtay commented on #506
Ok, will do that

On Sat, Apr 6, 2019, 3:07 PM Pat Gunn <notifications@github.com> wrote:

[2019-04-07 04:41] KyeongMinMOON commented on #505
Actually, i reinstalled conda three times before writing this issue. I will try to reinstall once again. But i am not sure it can help or not.

I will tell you the results

Thanks,

[2019-04-07 06:56] KyeongMinMOON commented on #505
Hi,

I reinstalled anaconda3, but same issue still occurred.

[2019-04-07 14:53] epnev commented on #506
@tvajtay I believe the change here https://github.com/flatironinstitute/CaImAn/commit/8342d9ac2de32522a762811ab97ec3df7edd8068 should fix the error. Can you confirm?

[2019-04-08 07:23] pgunn commented on #505
Hi,
When installing Anaconda, what options did you use? The installer should have asked if you wanted to install for "just me" or for the whole system - the former works much better. Also, what directory did you install anaconda to?

[2019-04-08 12:24] KyeongMinMOON commented on #505
Hi,
I installed anaconda for ''just me''.
And anaconda directory is this.
(base) C:\Users\MKM>where anaconda
(results)C:\Users\MKM\Anaconda3\Scripts\anaconda.exe
I am not sure this answer is the right.

[2019-04-08 14:43] pgunn commented on #505
That all looks fine - I had seen some error reports similar to yours where people installed anaconda (or made environment names) with spaces or Unicode characters in them, leading to problems.

https://github.com/ContinuumIO/anaconda-issues/issues/1491

One thing you might try - delete the environment (conda env remove -n caiman)
And when you create it again (the `conda env create ...` command), a

[2019-04-08 16:30] tvajtay commented on #506
I think that fixed it, I was able to run multiple movies simultaneously through the pipeline.
Does CaImAn just concatenate multiple movies or does it analyze each one separately?

[2019-04-08 17:01] epnev commented on #506
@tvajtay good to hear. If you pass a list of files CaImAn will process them as one big concatenated file.

[2019-04-08 17:01] #506 closed

[2019-04-08 17:35] KyeongMinMOON commented on #505
I delete the environment and re-create env condition with adding -v flag, however i still have same problems.
I attached results,

I don't know what is wrong.
I will re-install anaconda again. If you find some answers please tell me.

![Fourth Question](https://user-images.githubusercontent.com/40463208/55744527-1d8b0d80-5a70-11e9-8372-feefb9f15319.png)
![Fifth q](https://user-images.githubusercon

[2019-04-08 17:36] pgunn commented on #505
Hi,
That was actually quite helpful - it's complaining that it did not find the Visual Studio compiler. Are you sure you installed all the needed components of that?

[2019-04-09 07:48] KyeongMinMOON commented on #505
Hi,
I installed Visual Studio 2017 using the link, that install guide mentioned.
And i checked that i added C/C++ CLI Tools when i installed Visual studio.
But still same problem occurred.
Is there any other needed components that i have to install including C/C++ CLI Tools?.

Thanks,

[2019-04-12 06:29] KyeongMinMOON commented on #505
Hi,
Still some small errors occurred, but your solution `SET VS140COMNTOOLS=%VS100COMNTOOLS%` seems work!
Because, remaining steps were done, and finally i can use pip install . without any problems.

After that, i run the caimanmanager.py to test demo files, but when i start debugging, 'No module named 'caiman'' message came out.
If i did something wrong with it, please knowing me

Thanks,

[2019-04-12 10:58] pgunn commented on #505
Sounds like we're almost there. Because of how you may have configured python file associations on your computer, you may need to run scripts in caiman by saying `python scriptname` rather than just saying the script name. Try doing `python caimanmanager.py install` (you may need to provide the full path to caimanmanager). If this works you'll need to do the same for the demos if you want to run t

[2019-04-13 14:15] ChasNelson1990 opened #509 "PyPi Module"
Hi,

### Background:

I recently wanted to install caiman into my pipenv environment (and associated pipfile). I don't (and don't want to) use conda.

I'm able to create a pipenv inside the repo folder and use the environment.yml file to create a Pipfile that works inside the repo folder (installs all dependencies) and all unit tests (but the one requiring dowloaded data) succeed.

But I'm struggl

[2019-04-13 14:25] pgunn commented on #509
Hi,
At least right now Conda gives us the ability to control the environment to a much greater degree than pip would (in a more cross-platform way), and it's easier to set up in a uniform way. I can't say we'd never consider adding to Pypi in the future, but right now it'd take a lot of extra work and make it harder for us to support users and continue to improve the software. It's not a matter of

[2019-04-14 10:02] KyeongMinMOON commented on #505
Hi,

when i was trying `python scriptname`  after activating caiman, then this message came out 'python: can't open file 'scriptname': [Errno 2] No such file or directory'

I think i missed something, So i will check the install guide and demo_pipeline

If you have any solution about this please knowing me

Thank you always,

[2019-04-14 11:51] pgunn commented on #505
Hi,
Sorry, when you do it this way you will need to enter the full path to the script.

An alternative is to remove the .py file association, letting conda handle that.

[2019-04-14 11:52] ChasNelson1990 opened #510 "Problems installing CaImAn with Pipenv"
So I'm trying to install CaImAn into my own project as a dependency.

My environments are set-up using pipfile. [Running Arch Linux 5.0.6 with Python 3.7.3 inside pipenv 2018.11.26]

I've tried a variety of approaches but can't get one to work.

N.B. it's entirely plausible this is a pipenv or even user-based problem but I thought I'd post it here in case anybody had an idea.

My pipfile:
[code]

[2019-04-14 11:53] ChasNelson1990 commented on #509
Thanks for replying. I'm not sure I appreciate the subtleties of conda vs pip to really see why supporting a pip module (once up and running) would be much different from supporting a conda package; however, it sounds like you've considered this so I'll trust your reasoning.

Okay. So, I started from scratch today to see if I can recreate (and/or fix) my problem and report back.

I can definitely

[2019-04-14 12:06] pgunn commented on #510
Hi,
My ability to support this is going to be limited - I have no experience with pipenv, and we already know Caiman is fairly sensitive to versions of some of the packages (currently only python 3.6 is supported). Still, it looks like pipenv has a `--verbose` flag as well as a `--support` flag that may provide more info as to what's going wrong. You also should probably specify `--python 3.6`.

A

[2019-04-14 12:21] epnev commented on #509
@ChasNelson1990 I'm closing this issue since you moved the discussion into #510

[2019-04-14 12:21] #509 closed

[2019-04-14 14:56] ChasNelson1990 commented on #510
Thanks Pat, glad I've piqued your curiosity! This is a very long message but I think solves most things.

[And, I'm actually in the UK so you're perfectly in sync with me.]

Side note: I've found the following option for `pipenv install`: `--sequential`, which might be relevant re: your comment on tensorflow in `environment.yml`. It seems not to effect the problems we're talking about though so I'

[2019-04-14 14:56] #510 closed

[2019-04-14 14:59] ChasNelson1990 commented on #510
Additional:
I just reran the `pipenv install --dev` on a clean environment. The Pipfile now has an install line for caiman, either:

[code]

or (if installed with `-e`)

[code]

I note that the first works. The second does not. Weird.

[2019-04-16 00:57] KyeongMinMOON commented on #505
Hi,

Finally, basic demos is working!

Thanks,

[2019-04-16 02:13] #505 closed

[2019-04-17 05:37] lechen0802 opened #511 "Error when trying python caimanmanager.py install"
For better support, please use the template below to submit your issue. When your issue gets resolved please remember to close it.

Sometimes errors while running CNMF occur during parallel processing which prevents the log to provide a meaningful error message.
Please reproduce your error with setting `dview=None`.

If you need to upgrade CaImAn follow the instructions given in the [wiki](https:/

[2019-04-17 06:28] pgunn commented on #511
Hi,
The supported way to run caiman is in a conda environment built through our install instructions. Could you give that a try and let us know how it goes?

[2019-04-17 13:39] lechen0802 commented on #511
I installed Anaconda long ago and yesterday I tried to install the caiman by following the instructions on Installation on Mac step by step, except the first step 'Download and install Anaconda or Miniconda'. Am I supposed to reinstall the anaconda? And also another issue is I have python2.7, python 3.6.7 installed before Anaconda. I'm not familiar with how to handle these problems. I really appre

[2019-04-17 15:44] epnev commented on #511
@lechen0802 You have an old anaconda distribution that is based on python 2 and you're trying to install caiman which uses python 3. This can cause all sorts of problems. If you don't have an application that depends on Python 2.7 then I suggest you remove it and install Anaconda3. If you do, then you can install Anaconda3 and change your python path to point to this version when you install caima

[2019-04-17 17:20] AlexDenman opened #512 "Error during source extraction (operands could not be broadcast together...)"
This error occurs when running Caiman on my institution's HPC cluster (Linux), using Python 3.6, CaImAn v1.0, which is installed within a Conda environment, as described in the installation instructions.  I am running Caiman via bash script.

On some files, source extraction fails with an error message like the following:
```Traceback (most recent call last): File "/data/denmanaj/scripts/AD_caiman

[2019-04-17 22:33] lechen0802 commented on #511
Great! It works for me now.

After reinstalling the Anaconda, I still encountered problem with $ pip install .
It turns out that I need to run these two lines(in known issue) first.
$ xcode-select --install
$ open /Library/Developer/CommandLineTools/Packages/

But because this known issue comes after the line saying ' If any of these steps gives you errors do not proceed to the following step with

[2019-04-17 22:46] epnev commented on #511
@lechen0802 glad it worked, and thanks for the feedback.

[2019-04-17 22:46] #511 closed

[2019-04-18 01:09] epnev commented on #512
@AlexDenman Can you try the following:

1. When you configure the [`logging`](https://github.com/flatironinstitute/CaImAn/blob/master/demos/general/demo_pipeline_cnmfE.py#L42) in the demo file pass a filename variable so the output is saved, e.g. `filename='caiman.log'`
2. Add the line `logging.info("Shapes {0}, {1}".format(self.estimates.C.shape[0], self.estimates.YrA.shape[0]))` above line [567]

[2019-04-18 19:17] davegrays opened #513 "infs or nans error in cnmf.fit()"
- **Tell us about your operating system (Linux/macOS/Windows), Python version (3.x), working environment (Spyder/Jupyter Notebook/other), and (if applicable) which of the demo scripts you're using for your analysis**

Ubuntu 18, python 3.6.7, tested on Jupyter and command line

- **Describe the issue that you are experiencing**

ValueError running cmnf.fit() on calcium videos with no nans, infs, n

[2019-04-19 15:09] AlexDenman commented on #512
@epnev

I made the changes you described above. I've attached a log file.

The error output I received from SLURM (not recorded in Caiman log file) reads:
`ValueError: operands could not be broadcast together with shapes (104,36807) (105,36807)`

[caiman.log](https://github.com/flatironinstitute/CaImAn/files/3098472/caiman.log)

[2019-04-19 15:15] AlexDenman commented on #512
@epnev

I made the changes you described above. I've attached a log file.

The error output I received from SLURM (not recorded in Caiman log file) reads:
`ValueError: operands could not be broadcast together with shapes (104,36807) (105,36807)`

[caiman.log](https://github.com/flatironinstitute/CaImAn/files/3098472/caiman.log)

[2019-04-19 21:33] epnev commented on #512
@AlexDenman Thanks, this is useful. I believe the error is due to the merging procedure. Can you run again with setting `merge_thr = 1` which effectively turn off merging?

If no error occurs for this file then I'll be confident that the error is due to that.